COMPOSITION-TRANSITION-DISTRIBUTION

In [61]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [62]:
!pip install Bio

Requirement already satisfied: Bio in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: numpy<1.20 in /usr/local/lib/python3.7/dist-packages (from Bio) (1.19.5)
Requirement already satisfied: plac in /usr/local/lib/python3.7/dist-packages (from Bio) (1.1.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from Bio) (2.23.0)
Requirement already satisfied: biopython>=1.78 in /usr/local/lib/python3.7/dist-packages (from Bio) (1.79)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->Bio) (2.10)

In [63]:
import Bio
from Bio.Seq import Seq
from Bio import SeqIO
from Bio.SeqUtils import GC
import pandas as pd

TÍNH TOÁN VỚI FILE NEGATIVE

In [64]:
#doc file du lieu, hien thi du lieu va do dai cua chuoi peptit
for seq_record in SeqIO.parse('/content/gdrive/MyDrive/Layer1-negative.fansta', 'fasta'):
  print(seq_record.id)
  print(seq_record.seq, '=>', len(seq_record))
  break

Negative_1
TKTTRNSPDSISIP => 14

In [65]:
# luu cac peptit vao mang peptides
peptides=[]
# luu id vao mang id
id=[]
for seq_record in SeqIO.parse('/content/gdrive/MyDrive/Layer1-negative.fansta', 'fasta'):
  peptides.append(seq_record.seq)
  id.append(seq_record.id)
print(peptides[3])
print(id[3])

NELPEPEQDNGGATESVKEQEMKW
Negative_4

In [66]:
#chia cac axitamin vao tung nhom theo cac tinh chat vat ly hoa hoc
#tính kỵ nước 
GHB1=['R', 'K', 'E', 'D', 'Q', 'N']
GHB2=['G', 'A', 'S', 'T', 'P', 'H', 'Y']
GHB3=['C', 'L', 'V', 'I', 'M', 'F', 'W']
# nhom the tich nguyen tu 
GNV1=['G', 'A', 'S', 'T', 'P', 'D']
GNV2=['N', 'V', 'E', 'Q', 'I', 'L']
GNV3=['M', 'H', 'K', 'F', 'R', 'Y', 'W']
# sự phân cực 
GPO1=['L', 'I', 'F', 'W', 'C', 'M', 'V', 'Y']
GPO2=['P', 'A', 'T', 'G', 'S']
GPO3=['H', 'Q', 'R', 'K', 'N', 'E', 'D']
#tính phân cực 
GPZ1=['G', 'A', 'S', 'D', 'T']
GPZ2=['C', 'P', 'N', 'V', 'E', 'Q', 'I', 'L']
GPZ3=['K', 'M', 'H', 'F', 'R', 'Y', 'W']
#nhom điện tích 
GCH1=['K', 'R']
GCH2=['A', 'N', 'C', 'Q', 'G', 'H', 'I', 'L', 'M', 'F', 'P', 'S', 'T', 'W', 'Y', 'V']
GCH3=['D', 'E']
#nhom cấu trúc bậc hai 
GSS1=['E', 'A', 'L', 'M', 'Q', 'K', 'R', 'H']
GSS2=['V', 'I', 'Y', 'C', 'W', 'F', 'T']
GSS3=['G', 'N', 'S', 'D', 'P']
#khả năng tiếp cận dung môi
GSA1=['A', 'L', 'F', 'C', 'G', 'I', 'V', 'W']
GSA2=['R', 'K', 'Q', 'E', 'N', 'D']
GSA3=['M', 'S', 'T', 'H', 'Y', 'P']

COMPOSITION

In [67]:
#tinh thanh phan tung nhom theo 7 chi so
#ham tinh thanh phan 
def composition(group, peptide):
  my_seq=Seq(peptide)
  sum=0
  for i in group:
    sum=sum+my_seq.count(i)
  s=float('{:.4f}'.format(sum/len(my_seq)))
  return (s)

In [68]:
aa = ['1', '2', '3']
bb = ['HB', 'NV', 'PO', 'PZ', 'CH', 'SS', 'SA']
group=[GHB1, GNV1, GPO1, GPZ1, GCH1, GSS1,  GSA1, GHB2, GNV2, GPO2, GPZ2, GCH2, GSS2,  GSA2, GHB3, GNV3, GPO3, GPZ3, GCH3, GSS3,  GSA3]
header_c = []
for a in aa:
  for b in bb:
    header_c.append('CTD_'+ b + a)
print(header_c)

['CTD_HB1', 'CTD_NV1', 'CTD_PO1', 'CTD_PZ1', 'CTD_CH1', 'CTD_SS1', 'CTD_SA1', 'CTD_HB2', 'CTD_NV2', 'CTD_PO2', 'CTD_PZ2', 'CTD_CH2', 'CTD_SS2', 'CTD_SA2', 'CTD_HB3', 'CTD_NV3', 'CTD_PO3', 'CTD_PZ3', 'CTD_CH3', 'CTD_SS3', 'CTD_SA3']

In [69]:
df_c0 = pd.DataFrame()
df_c0['id'] = id
header_c1=header_c
for i in range(len(group)):
  for j in header_c:
    j=[]
    for k in peptides:
      j.append(composition(group[i], k))
    df_c0[header_c1[i]]=j
df_c0['label']=0
df_c0

               id  CTD_HB1  CTD_NV1  CTD_PO1  ...  CTD_CH3  CTD_SS3  CTD_SA3  label
0      Negative_1   0.2857   0.6429   0.1429  ...   0.0714   0.5000   0.5714      0
1      Negative_2   0.3846   0.2308   0.2308  ...   0.0769   0.2308   0.3846      0
2      Negative_3   0.1481   0.3704   0.4074  ...   0.0370   0.1852   0.1111      0
3      Negative_4   0.5417   0.3333   0.1667  ...   0.2917   0.3333   0.2083      0
4      Negative_5   0.3913   0.3043   0.3478  ...   0.0870   0.2609   0.3478      0
..            ...      ...      ...      ...  ...      ...      ...      ...    ...
418  Negative_419   0.3333   0.5000   0.1667  ...   0.1667   0.1667   0.1667      0
419  Negative_420   0.4091   0.4545   0.1818  ...   0.1364   0.3636   0.3636      0
420  Negative_421   0.5263   0.3158   0.2632  ...   0.3684   0.3158   0.4211      0
421  Negative_422   0.4545   0.2727   0.2727  ...   0.0909   0.4545   0.1818      0
422  Negative_423   0.4615   0.3077   0.4615  ...   0.2308   0.3846   0.2308      0

[423 rows x 23 columns]

In [70]:
df_c0.to_csv('C_0.csv')

TRANSITION

In [71]:
# ham tinh transition
def transition(group_a, group_b, peptide):
  count=0
  for i in range(len(peptide)-1):
    if ((peptide[i] in group_a) == True) and ((peptide[i+1] in group_b) == True):
      count+=1
  return count

In [72]:
CTD_11_HB=[]
for i in peptides:
  CTD_11_HB.append(transition(GHB1, GHB1, i))
print(CTD_11_HB)
CTD_11_NV=[]
for i in peptides:
  CTD_11_NV.append(transition(GNV1, GNV1, i))
CTD_11_PO=[]
for i in peptides:
  CTD_11_PO.append(transition(GPO1, GPO1, i))
CTD_11_PZ=[]
for i in peptides:
  CTD_11_PZ.append(transition(GPZ1, GPZ1, i))
CTD_11_CH=[]
for i in peptides:
  CTD_11_CH.append(transition(GCH1, GCH1, i))
CTD_11_SS=[]
for i in peptides:
  CTD_11_SS.append(transition(GSS1, GSS1, i))
CTD_11_SA=[]
for i in peptides:
  CTD_11_SA.append(transition(GSA1, GSA1, i))

[1, 1, 1, 7, 3, 5, 4, 1, 1, 4, 0, 2, 3, 0, 2, 1, 1, 4, 4, 0, 1, 1, 0, 3, 1, 1, 9, 3, 3, 1, 2, 0, 1, 0, 2, 4, 4, 10, 0, 1, 0, 0, 5, 3, 5, 0, 2, 1, 0, 3, 1, 2, 1, 2, 5, 1, 2, 1, 0, 5, 7, 1, 1, 3, 0, 2, 3, 1, 1, 1, 1, 0, 5, 0, 3, 2, 1, 2, 3, 3, 1, 1, 3, 0, 2, 1, 6, 2, 0, 2, 1, 0, 0, 10, 5, 1, 1, 3, 3, 2, 4, 1, 1, 4, 4, 5, 5, 0, 0, 4, 3, 1, 6, 0, 4, 0, 0, 0, 1, 3, 3, 1, 3, 1, 2, 2, 0, 4, 0, 3, 4, 2, 1, 3, 3, 0, 3, 3, 1, 2, 3, 1, 0, 0, 2, 4, 8, 3, 4, 7, 2, 3, 10, 2, 2, 1, 1, 4, 2, 4, 4, 0, 0, 3, 0, 0, 1, 1, 0, 6, 0, 1, 3, 0, 2, 0, 1, 2, 2, 5, 4, 4, 6, 5, 0, 1, 2, 3, 2, 3, 0, 2, 2, 5, 1, 2, 0, 2, 1, 2, 6, 1, 1, 3, 6, 4, 2, 3, 1, 5, 2, 0, 0, 1, 0, 2, 0, 2, 1, 4, 3, 3, 2, 5, 0, 0, 3, 1, 6, 0, 2, 3, 2, 1, 1, 1, 0, 2, 1, 2, 1, 3, 3, 0, 3, 3, 1, 1, 0, 1, 4, 0, 1, 0, 9, 2, 2, 5, 0, 0, 1, 0, 0, 0, 0, 3, 4, 0, 0, 1, 0, 2, 0, 1, 1, 3, 1, 6, 3, 2, 1, 2, 4, 6, 0, 1, 2, 1, 1, 0, 0, 0, 0, 5, 1, 4, 2, 0, 2, 2, 0, 0, 0, 2, 0, 4, 3, 1, 1, 2, 5, 2, 0, 2, 2, 0, 0, 1, 4, 3, 3, 4, 1, 1, 0, 3, 5, 1, 0, 1, 7, 4, 3, 1, 8, 2, 1, 2, 2, 1, 1, 1, 0, 1, 2, 3, 2, 5, 0, 2, 4, 1, 1, 0, 4, 3, 2, 0, 3, 2, 1, 3, 1, 3, 1, 0, 5, 2, 2, 2, 1, 1, 0, 1, 0, 4, 0, 0, 1, 1, 1, 1, 3, 7, 2, 0, 0, 1, 0, 0, 3, 1, 6, 2, 4, 2, 0, 1, 2, 5, 0, 0, 0, 4, 2, 2, 5, 3, 5, 0, 4, 0, 1, 2, 3, 3, 0, 1, 0, 3, 5, 2, 3]

In [73]:
CTD_12_HB=[]
for i in peptides:
  CTD_12_HB.append(transition(GHB1, GHB2, i))
print(CTD_12_HB)
CTD_12_NV=[]
for i in peptides:
  CTD_12_NV.append(transition(GNV1, GNV2, i))
CTD_12_PO=[]
for i in peptides:
  CTD_12_PO.append(transition(GPO1, GPO2, i))
CTD_12_PZ=[]
for i in peptides:
  CTD_12_PZ.append(transition(GPZ1, GPZ2, i))
CTD_12_CH=[]
for i in peptides:
  CTD_12_CH.append(transition(GCH1, GCH2, i))
CTD_12_SS=[]
for i in peptides:
  CTD_12_SS.append(transition(GSS1, GSS2, i))
CTD_12_SA=[]
for i in peptides:
  CTD_12_SA.append(transition(GSA1, GSA2, i))

[3, 2, 0, 3, 1, 2, 1, 2, 3, 2, 2, 4, 5, 5, 1, 3, 1, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 4, 1, 1, 1, 4, 2, 3, 1, 4, 3, 2, 2, 4, 2, 3, 1, 3, 2, 0, 0, 0, 3, 2, 3, 2, 1, 4, 0, 3, 3, 3, 3, 3, 3, 1, 1, 1, 2, 2, 1, 1, 2, 3, 1, 4, 0, 4, 3, 3, 3, 2, 4, 0, 1, 3, 2, 1, 0, 3, 3, 2, 0, 2, 2, 1, 2, 2, 2, 1, 3, 3, 3, 3, 1, 1, 3, 2, 3, 2, 1, 2, 1, 1, 3, 3, 1, 2, 4, 0, 2, 3, 1, 1, 2, 2, 1, 1, 2, 0, 0, 3, 2, 2, 1, 1, 2, 3, 0, 4, 3, 1, 1, 3, 4, 1, 3, 4, 1, 0, 2, 2, 3, 5, 3, 2, 0, 5, 3, 2, 4, 2, 2, 3, 1, 5, 2, 3, 2, 1, 1, 1, 1, 0, 2, 1, 2, 4, 2, 1, 1, 2, 2, 4, 0, 1, 3, 2, 0, 0, 2, 0, 3, 1, 2, 2, 2, 2, 3, 3, 1, 2, 2, 2, 1, 0, 0, 3, 2, 5, 2, 1, 3, 1, 6, 4, 0, 2, 2, 2, 1, 1, 0, 4, 0, 1, 2, 1, 2, 4, 4, 1, 3, 4, 1, 2, 3, 2, 1, 2, 2, 1, 2, 0, 1, 0, 2, 0, 0, 2, 4, 2, 3, 2, 2, 2, 2, 1, 3, 2, 2, 3, 0, 1, 3, 0, 1, 1, 2, 2, 1, 3, 3, 1, 3, 2, 3, 2, 1, 1, 1, 2, 3, 3, 5, 4, 4, 0, 0, 1, 2, 0, 0, 1, 0, 1, 1, 1, 8, 2, 0, 1, 2, 2, 3, 2, 3, 2, 5, 2, 1, 3, 4, 3, 2, 3, 4, 1, 2, 4, 3, 1, 3, 1, 2, 2, 3, 1, 1, 0, 4, 1, 2, 4, 1, 5, 1, 2, 3, 1, 4, 0, 4, 3, 1, 2, 0, 1, 1, 3, 4, 1, 2, 1, 3, 2, 1, 2, 2, 4, 0, 2, 2, 1, 3, 1, 3, 0, 1, 3, 2, 0, 2, 4, 2, 0, 5, 3, 2, 2, 1, 0, 4, 4, 2, 1, 2, 3, 0, 2, 2, 2, 2, 3, 4, 5, 6, 3, 2, 2, 0, 1, 0, 1, 3, 2, 6, 4, 2, 4, 0, 3, 2, 0, 0, 3, 3, 6, 2, 1, 0, 2, 3, 4, 3, 0]

In [74]:
CTD_13_HB=[]
for i in peptides:
  CTD_13_HB.append(transition(GHB1, GHB3, i))
print(CTD_13_HB)
CTD_13_NV=[]
for i in peptides:
  CTD_13_NV.append(transition(GNV1, GNV3, i))
CTD_13_PO=[]
for i in peptides:
  CTD_13_PO.append(transition(GPO1, GPO3, i))
CTD_13_PZ=[]
for i in peptides:
  CTD_13_PZ.append(transition(GPZ1, GPZ3, i))
CTD_13_CH=[]
for i in peptides:
  CTD_13_CH.append(transition(GCH1, GCH3, i))
CTD_13_SS=[]
for i in peptides:
  CTD_13_SS.append(transition(GSS1, GSS3, i))
CTD_13_SA=[]
for i in peptides:
  CTD_13_SA.append(transition(GSA1, GSA3, i))

[0, 1, 3, 3, 5, 4, 4, 2, 0, 0, 1, 2, 2, 1, 0, 3, 2, 2, 3, 0, 1, 2, 3, 2, 2, 3, 1, 0, 1, 2, 1, 0, 0, 2, 4, 2, 0, 2, 1, 1, 4, 1, 1, 2, 5, 3, 1, 1, 2, 2, 1, 2, 0, 5, 2, 1, 2, 4, 2, 1, 2, 1, 1, 1, 1, 1, 3, 2, 2, 2, 2, 3, 2, 3, 2, 0, 3, 3, 5, 7, 3, 0, 0, 1, 3, 2, 6, 0, 1, 4, 1, 1, 0, 3, 2, 0, 1, 1, 5, 0, 0, 1, 1, 3, 4, 1, 4, 2, 2, 1, 1, 0, 3, 3, 3, 1, 2, 1, 2, 1, 1, 0, 0, 4, 2, 2, 0, 3, 1, 4, 1, 1, 2, 1, 0, 0, 2, 0, 3, 2, 3, 0, 1, 1, 3, 2, 4, 2, 3, 4, 2, 4, 0, 2, 1, 1, 1, 5, 5, 2, 1, 2, 0, 2, 1, 3, 4, 0, 0, 1, 0, 3, 2, 2, 2, 0, 1, 2, 0, 3, 0, 5, 5, 5, 1, 5, 3, 2, 1, 2, 0, 3, 1, 1, 1, 3, 1, 3, 0, 4, 4, 2, 1, 3, 5, 1, 0, 3, 2, 1, 2, 0, 0, 1, 1, 2, 2, 0, 2, 4, 3, 3, 2, 0, 0, 2, 3, 5, 3, 0, 3, 2, 1, 2, 1, 2, 1, 2, 1, 1, 3, 1, 1, 2, 5, 5, 3, 1, 1, 3, 3, 1, 0, 0, 1, 1, 1, 0, 0, 2, 2, 0, 0, 0, 0, 1, 1, 0, 1, 2, 2, 2, 1, 0, 3, 1, 0, 0, 1, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 2, 1, 1, 2, 2, 2, 0, 4, 1, 3, 2, 2, 4, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 4, 1, 2, 2, 4, 4, 3, 2, 2, 1, 1, 4, 4, 2, 0, 1, 0, 2, 3, 2, 4, 2, 0, 2, 1, 3, 0, 2, 2, 2, 2, 3, 3, 4, 2, 2, 2, 2, 3, 0, 1, 2, 2, 0, 3, 2, 0, 3, 0, 2, 2, 2, 2, 0, 2, 0, 1, 2, 0, 0, 1, 4, 1, 2, 1, 1, 2, 1, 3, 3, 2, 1, 3, 4, 2, 2, 1, 1, 2, 2, 4, 2, 0, 2, 1, 1, 0, 0, 0, 0, 3, 2, 3, 5, 2, 2, 2, 2, 0, 0, 1, 1, 1, 1, 0, 2, 1, 0, 3]

In [75]:
CTD_21_HB=[]
for i in peptides:
  CTD_21_HB.append(transition(GHB2, GHB1, i))
print(CTD_21_HB)
CTD_21_NV=[]
for i in peptides:
  CTD_21_NV.append(transition(GNV2, GNV1, i))
CTD_21_PO=[]
for i in peptides:
  CTD_21_PO.append(transition(GPO2, GPO1, i))
CTD_21_PZ=[]
for i in peptides:
  CTD_21_PZ.append(transition(GPZ2, GPZ1, i))
CTD_21_CH=[]
for i in peptides:
  CTD_21_CH.append(transition(GCH2, GCH1, i))
CTD_21_SS=[]
for i in peptides:
  CTD_21_SS.append(transition(GSS2, GSS1, i))
CTD_21_SA=[]
for i in peptides:
  CTD_21_SA.append(transition(GSA2, GSA1, i))

[3, 1, 1, 3, 4, 3, 2, 2, 1, 2, 3, 3, 6, 4, 1, 4, 3, 0, 4, 1, 2, 3, 2, 1, 2, 3, 2, 2, 2, 3, 1, 1, 5, 2, 3, 1, 4, 1, 1, 1, 4, 3, 1, 2, 3, 3, 0, 0, 2, 2, 1, 1, 2, 4, 5, 1, 2, 5, 2, 4, 3, 3, 2, 0, 1, 1, 3, 1, 1, 2, 1, 3, 5, 2, 4, 2, 2, 2, 6, 5, 2, 0, 2, 3, 1, 0, 2, 3, 2, 1, 2, 2, 0, 3, 4, 0, 1, 2, 3, 2, 2, 0, 1, 2, 3, 2, 3, 1, 1, 1, 0, 1, 3, 1, 2, 3, 0, 3, 0, 1, 1, 2, 1, 2, 2, 1, 0, 2, 1, 4, 1, 2, 2, 2, 2, 0, 5, 1, 1, 1, 4, 2, 1, 5, 4, 0, 1, 2, 2, 4, 2, 3, 2, 0, 3, 4, 1, 3, 4, 2, 2, 0, 3, 3, 2, 5, 2, 1, 1, 2, 0, 2, 0, 3, 4, 2, 1, 0, 1, 2, 4, 1, 3, 3, 1, 1, 1, 0, 0, 2, 0, 3, 2, 3, 1, 3, 3, 4, 2, 4, 4, 0, 2, 2, 4, 2, 4, 3, 2, 4, 0, 7, 3, 0, 1, 2, 1, 0, 1, 2, 5, 1, 3, 2, 2, 2, 4, 4, 2, 2, 3, 2, 2, 1, 2, 1, 2, 2, 2, 3, 1, 2, 1, 2, 1, 1, 3, 2, 0, 3, 4, 3, 1, 1, 2, 4, 3, 2, 3, 1, 2, 1, 0, 1, 1, 2, 1, 1, 2, 2, 1, 2, 3, 0, 2, 1, 1, 1, 1, 2, 3, 5, 6, 4, 1, 1, 1, 2, 1, 0, 2, 0, 2, 2, 2, 7, 2, 0, 3, 3, 3, 3, 2, 3, 3, 4, 1, 2, 4, 1, 4, 1, 4, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 3, 1, 3, 0, 4, 0, 2, 4, 0, 7, 2, 4, 3, 0, 6, 0, 4, 3, 2, 3, 1, 2, 3, 2, 2, 1, 1, 0, 1, 5, 0, 1, 2, 6, 0, 2, 3, 1, 2, 1, 4, 0, 2, 3, 2, 0, 1, 2, 3, 0, 4, 2, 2, 3, 2, 1, 3, 3, 3, 1, 0, 2, 0, 1, 3, 1, 2, 4, 2, 4, 5, 5, 2, 1, 2, 1, 1, 0, 3, 1, 5, 4, 1, 4, 4, 3, 3, 1, 1, 2, 2, 5, 3, 2, 2, 0, 4, 3, 1, 1]

In [76]:
CTD_22_HB=[]
for i in peptides:
  CTD_22_HB.append(transition(GHB2, GHB2, i))
print(CTD_22_HB)
CTD_22_NV=[]
for i in peptides:
  CTD_22_NV.append(transition(GNV2, GNV2, i))
CTD_22_PO=[]
for i in peptides:
  CTD_22_PO.append(transition(GPO2, GPO2, i))
CTD_22_PZ=[]
for i in peptides:
  CTD_22_PZ.append(transition(GPZ2, GPZ2, i))
CTD_22_CH=[]
for i in peptides:
  CTD_22_CH.append(transition(GCH2, GCH2, i))
CTD_22_SS=[]
for i in peptides:
  CTD_22_SS.append(transition(GSS2, GSS2, i))
CTD_22_SA=[]
for i in peptides:
  CTD_22_SA.append(transition(GSA2, GSA2, i))

[2, 2, 5, 3, 2, 1, 0, 0, 0, 0, 3, 7, 9, 1, 12, 2, 0, 4, 1, 4, 4, 5, 3, 0, 2, 1, 1, 4, 7, 2, 2, 0, 2, 1, 4, 2, 7, 0, 1, 2, 2, 2, 0, 5, 2, 0, 7, 2, 7, 2, 1, 4, 4, 2, 2, 2, 3, 2, 2, 0, 0, 1, 7, 1, 1, 1, 2, 2, 1, 4, 8, 2, 7, 4, 8, 6, 2, 3, 3, 2, 0, 2, 2, 4, 3, 1, 1, 2, 4, 0, 1, 0, 2, 1, 3, 2, 3, 0, 0, 4, 3, 2, 1, 2, 4, 2, 0, 4, 0, 0, 0, 2, 2, 4, 7, 5, 2, 4, 8, 1, 0, 4, 0, 1, 2, 0, 1, 0, 0, 2, 2, 1, 6, 0, 2, 2, 3, 0, 3, 1, 3, 5, 4, 2, 3, 2, 3, 0, 1, 1, 8, 5, 1, 5, 6, 5, 0, 1, 3, 3, 2, 2, 6, 2, 1, 4, 1, 0, 4, 1, 0, 0, 5, 7, 1, 8, 3, 1, 1, 4, 2, 1, 1, 1, 0, 1, 2, 2, 2, 0, 2, 6, 1, 3, 0, 2, 2, 0, 4, 3, 3, 0, 1, 3, 1, 0, 2, 3, 1, 4, 1, 4, 7, 1, 0, 2, 0, 1, 0, 6, 3, 3, 0, 11, 3, 1, 3, 2, 1, 4, 2, 0, 1, 1, 1, 0, 1, 4, 1, 1, 0, 2, 0, 0, 1, 3, 3, 3, 2, 4, 2, 2, 2, 2, 2, 3, 1, 1, 3, 1, 6, 1, 1, 7, 11, 3, 0, 4, 2, 3, 4, 2, 3, 2, 1, 0, 7, 4, 1, 5, 0, 7, 6, 6, 2, 5, 2, 4, 1, 2, 3, 0, 0, 2, 3, 2, 3, 2, 0, 3, 4, 1, 1, 6, 1, 4, 2, 4, 1, 5, 4, 1, 4, 8, 0, 1, 3, 3, 0, 6, 5, 3, 1, 2, 3, 5, 0, 2, 3, 4, 9, 0, 6, 4, 2, 4, 1, 4, 1, 5, 5, 1, 1, 0, 6, 2, 0, 3, 2, 2, 0, 2, 2, 2, 0, 3, 4, 1, 1, 5, 1, 2, 1, 3, 1, 1, 3, 5, 1, 3, 5, 0, 7, 10, 0, 0, 2, 2, 5, 7, 4, 0, 5, 1, 2, 5, 1, 1, 2, 6, 2, 4, 0, 6, 2, 1, 5, 3, 1, 0, 6, 5, 5, 4, 3, 2, 2, 3, 3, 0, 2, 1, 3, 4, 7, 4, 4, 2, 1, 3, 2, 0, 0]

In [77]:
CTD_23_HB=[]
for i in peptides:
  CTD_23_HB.append(transition(GHB2, GHB3, i))
print(CTD_23_HB)
CTD_23_NV=[]
for i in peptides:
  CTD_23_NV.append(transition(GNV2, GNV3, i))
CTD_23_PO=[]
for i in peptides:
  CTD_23_PO.append(transition(GPO2, GPO3, i))
CTD_23_PZ=[]
for i in peptides:
  CTD_23_PZ.append(transition(GPZ2, GPZ3, i))
CTD_23_CH=[]
for i in peptides:
  CTD_23_CH.append(transition(GCH2, GCH3, i))
CTD_23_SS=[]
for i in peptides:
  CTD_23_SS.append(transition(GSS2, GSS3, i))
CTD_23_SA=[]
for i in peptides:
  CTD_23_SA.append(transition(GSA2, GSA3, i))

[2, 2, 6, 1, 1, 1, 0, 3, 3, 2, 1, 2, 0, 2, 3, 0, 1, 1, 1, 5, 2, 1, 2, 1, 1, 1, 1, 2, 5, 0, 1, 1, 1, 1, 3, 1, 3, 3, 3, 4, 4, 1, 2, 3, 1, 1, 4, 3, 0, 5, 2, 5, 2, 3, 1, 2, 2, 3, 2, 3, 2, 2, 6, 2, 1, 3, 0, 2, 0, 1, 3, 2, 2, 3, 3, 5, 2, 2, 1, 1, 0, 3, 1, 3, 2, 2, 1, 5, 1, 2, 5, 3, 4, 1, 3, 3, 4, 1, 1, 1, 3, 2, 3, 1, 2, 3, 2, 4, 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 2, 3, 3, 2, 3, 2, 0, 2, 4, 1, 2, 3, 3, 2, 2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 1, 2, 6, 3, 0, 5, 3, 4, 2, 4, 2, 3, 2, 1, 6, 2, 1, 3, 0, 2, 3, 0, 3, 1, 4, 1, 4, 1, 4, 5, 3, 3, 1, 2, 0, 1, 1, 0, 0, 3, 3, 2, 3, 2, 1, 0, 2, 2, 1, 1, 4, 1, 1, 0, 2, 1, 3, 1, 2, 2, 2, 1, 3, 2, 3, 2, 3, 2, 1, 4, 1, 2, 2, 1, 1, 3, 4, 1, 2, 1, 2, 7, 4, 0, 2, 3, 1, 2, 5, 4, 1, 0, 2, 3, 0, 2, 0, 2, 1, 6, 6, 3, 1, 0, 1, 4, 0, 4, 1, 0, 2, 3, 2, 3, 1, 2, 4, 2, 2, 1, 1, 2, 1, 4, 0, 3, 3, 1, 4, 0, 3, 0, 4, 4, 0, 2, 2, 2, 2, 2, 3, 1, 3, 2, 2, 4, 3, 3, 1, 3, 0, 1, 0, 2, 2, 1, 1, 3, 1, 1, 2, 4, 0, 2, 1, 4, 2, 2, 4, 2, 1, 4, 3, 3, 1, 1, 3, 2, 1, 4, 1, 0, 1, 3, 2, 1, 0, 4, 4, 1, 4, 3, 2, 1, 0, 2, 4, 1, 2, 3, 6, 2, 0, 2, 4, 5, 2, 3, 3, 2, 4, 4, 3, 4, 3, 0, 3, 2, 2, 0, 4, 3, 4, 1, 6, 0, 2, 2, 4, 0, 1, 4, 1, 3, 4, 2, 5, 5, 3, 0, 1, 1, 1, 2, 1, 3, 2, 2, 2, 1, 3, 2, 6, 1, 3, 1, 5, 2, 1, 3, 1, 0, 1, 6, 4, 1, 2, 3, 3, 2, 1, 2, 1, 2, 1]

In [78]:
CTD_31_HB=[]
for i in peptides:
  CTD_31_HB.append(transition(GHB3, GHB1, i))
print(CTD_31_HB)
CTD_31_NV=[]
for i in peptides:
  CTD_31_NV.append(transition(GNV3, GNV1, i))
CTD_31_PO=[]
for i in peptides:
  CTD_31_PO.append(transition(GPO3, GPO1, i))
CTD_31_PZ=[]
for i in peptides:
  CTD_31_PZ.append(transition(GPZ3, GPZ1, i))
CTD_31_CH=[]
for i in peptides:
  CTD_31_CH.append(transition(GCH3, GCH1, i))
CTD_31_SS=[]
for i in peptides:
  CTD_31_SS.append(transition(GSS3, GSS1, i))
CTD_31_SA=[]
for i in peptides:
  CTD_31_SA.append(transition(GSA3, GSA1, i))

[0, 2, 1, 2, 2, 3, 3, 2, 2, 0, 1, 2, 2, 2, 1, 1, 1, 3, 1, 1, 1, 1, 2, 3, 1, 1, 0, 0, 3, 0, 2, 0, 0, 2, 4, 2, 1, 3, 1, 3, 4, 1, 2, 2, 5, 2, 1, 2, 0, 3, 1, 3, 0, 2, 0, 1, 4, 2, 4, 0, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 4, 1, 0, 1, 1, 2, 4, 3, 1, 5, 2, 0, 1, 1, 2, 2, 7, 0, 0, 3, 1, 2, 0, 2, 1, 1, 1, 2, 5, 1, 1, 1, 1, 4, 3, 2, 4, 1, 3, 2, 1, 1, 2, 3, 3, 2, 2, 0, 4, 1, 2, 0, 0, 2, 2, 3, 0, 2, 3, 2, 1, 0, 1, 1, 1, 0, 2, 2, 3, 2, 2, 1, 0, 0, 3, 3, 3, 3, 3, 4, 5, 4, 0, 1, 3, 0, 2, 6, 2, 2, 2, 3, 2, 1, 1, 0, 3, 0, 0, 1, 0, 2, 3, 2, 2, 0, 1, 3, 1, 2, 1, 5, 2, 5, 2, 4, 2, 4, 1, 3, 1, 2, 2, 1, 3, 3, 1, 1, 1, 2, 3, 2, 0, 2, 4, 2, 1, 2, 2, 1, 3, 0, 2, 2, 2, 1, 2, 1, 3, 3, 3, 2, 1, 1, 0, 1, 2, 4, 3, 1, 3, 0, 0, 4, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 3, 4, 2, 4, 3, 3, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 2, 2, 1, 0, 0, 2, 2, 0, 1, 2, 2, 3, 0, 2, 3, 1, 0, 0, 2, 2, 2, 1, 2, 1, 0, 2, 1, 1, 1, 2, 0, 2, 1, 2, 1, 1, 4, 1, 1, 0, 1, 3, 0, 1, 2, 2, 2, 2, 1, 4, 1, 1, 0, 3, 4, 1, 2, 2, 2, 4, 2, 3, 3, 1, 2, 1, 3, 2, 1, 1, 0, 4, 1, 1, 1, 3, 1, 1, 1, 3, 0, 2, 1, 2, 2, 1, 4, 5, 2, 2, 2, 3, 1, 1, 1, 1, 0, 0, 4, 2, 0, 4, 1, 1, 2, 0, 1, 0, 3, 0, 2, 1, 0, 0, 2, 4, 0, 1, 0, 2, 2, 1, 3, 4, 2, 0, 4, 2, 3, 2, 1, 2, 4, 3, 2, 3, 2, 0, 1, 1, 1, 0, 0, 0, 2, 3, 2, 1, 2, 0, 2, 1, 1, 1, 2, 1, 0, 0, 1, 1, 1, 1, 1]

In [79]:
CTD_32_HB=[]
for i in peptides:
  CTD_32_HB.append(transition(GHB3, GHB2, i))
print(CTD_32_HB)
CTD_32_NV=[]
for i in peptides:
  CTD_32_NV.append(transition(GNV3, GNV2, i))
CTD_32_PO=[]
for i in peptides:
  CTD_32_PO.append(transition(GPO3, GPO2, i))
CTD_32_PZ=[]
for i in peptides:
  CTD_32_PZ.append(transition(GPZ3, GPZ2, i))
CTD_32_CH=[]
for i in peptides:
  CTD_32_CH.append(transition(GCH3, GCH2, i))
CTD_32_SS=[]
for i in peptides:
  CTD_32_SS.append(transition(GSS3, GSS2, i))
CTD_32_SA=[]
for i in peptides:
  CTD_32_SA.append(transition(GSA3, GSA2, i))

[2, 1, 7, 1, 4, 3, 0, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 3, 3, 2, 3, 0, 2, 3, 1, 1, 3, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 4, 2, 0, 3, 1, 2, 4, 2, 2, 4, 2, 3, 2, 7, 2, 2, 0, 5, 1, 3, 1, 2, 7, 1, 2, 2, 2, 2, 0, 1, 1, 5, 4, 4, 3, 4, 1, 1, 6, 3, 2, 2, 0, 4, 2, 2, 0, 5, 2, 2, 5, 2, 4, 2, 5, 1, 3, 0, 2, 0, 3, 2, 3, 1, 3, 2, 2, 4, 2, 1, 2, 1, 1, 2, 2, 0, 3, 3, 0, 0, 1, 2, 2, 2, 2, 2, 2, 3, 1, 4, 0, 3, 4, 0, 1, 2, 4, 0, 1, 2, 2, 1, 2, 2, 3, 1, 2, 2, 1, 3, 2, 3, 0, 5, 2, 4, 1, 3, 4, 3, 1, 0, 5, 3, 0, 6, 2, 3, 2, 1, 3, 1, 3, 2, 4, 1, 4, 3, 2, 4, 0, 2, 2, 1, 0, 1, 1, 1, 2, 2, 3, 4, 0, 1, 1, 2, 2, 3, 3, 3, 3, 0, 4, 2, 3, 0, 1, 3, 2, 1, 3, 2, 1, 2, 2, 2, 0, 2, 0, 3, 3, 2, 3, 2, 5, 1, 3, 2, 2, 6, 3, 1, 2, 1, 1, 1, 5, 5, 1, 0, 3, 3, 1, 2, 1, 3, 2, 3, 4, 4, 4, 1, 1, 2, 0, 4, 2, 0, 1, 3, 2, 1, 1, 2, 5, 1, 1, 1, 1, 1, 0, 3, 1, 1, 3, 1, 4, 0, 2, 0, 5, 4, 1, 2, 4, 3, 2, 1, 3, 2, 5, 2, 2, 5, 4, 2, 1, 3, 2, 3, 1, 2, 3, 1, 1, 3, 0, 1, 2, 2, 1, 2, 2, 3, 2, 2, 3, 3, 4, 4, 4, 2, 1, 1, 2, 4, 1, 3, 1, 1, 1, 2, 4, 2, 3, 4, 4, 2, 4, 2, 2, 1, 0, 2, 5, 3, 1, 1, 6, 2, 0, 1, 7, 4, 1, 3, 5, 2, 3, 4, 3, 4, 3, 1, 3, 3, 2, 0, 3, 2, 3, 1, 7, 0, 0, 1, 5, 2, 2, 3, 1, 4, 5, 1, 4, 6, 2, 1, 1, 1, 2, 1, 0, 2, 4, 2, 0, 3, 3, 2, 5, 1, 3, 1, 5, 0, 1, 8, 1, 1, 2, 6, 3, 0, 1, 3, 3, 4, 0, 3, 1, 0, 2]

In [80]:
CTD_33_HB=[]
for i in peptides:
  CTD_33_HB.append(transition(GHB3, GHB3, i))
print(CTD_33_HB)
CTD_33_NV=[]
for i in peptides:
  CTD_33_NV.append(transition(GNV3, GNV3, i))
CTD_33_PO=[]
for i in peptides:
  CTD_33_PO.append(transition(GPO3, GPO3, i))
CTD_33_PZ=[]
for i in peptides:
  CTD_33_PZ.append(transition(GPZ3, GPZ3, i))
CTD_33_CH=[]
for i in peptides:
  CTD_33_CH.append(transition(GCH3, GCH3, i))
CTD_33_SS=[]
for i in peptides:
  CTD_33_SS.append(transition(GSS3, GSS3, i))
CTD_33_SA=[]
for i in peptides:
  CTD_33_SA.append(transition(GSA3, GSA3, i))

[0, 0, 2, 0, 0, 5, 1, 1, 4, 0, 0, 2, 0, 1, 0, 2, 1, 2, 0, 1, 2, 0, 1, 1, 0, 3, 0, 1, 5, 1, 1, 1, 0, 0, 1, 3, 0, 3, 0, 1, 2, 0, 1, 0, 1, 4, 4, 0, 3, 4, 0, 2, 4, 5, 2, 0, 0, 0, 1, 3, 0, 0, 2, 1, 2, 3, 0, 0, 2, 3, 2, 3, 1, 0, 0, 2, 2, 1, 1, 2, 2, 2, 0, 0, 1, 10, 1, 2, 0, 1, 2, 1, 1, 3, 2, 2, 7, 0, 3, 0, 1, 2, 5, 3, 1, 3, 5, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 3, 2, 1, 4, 2, 1, 3, 1, 4, 1, 2, 1, 4, 2, 2, 1, 2, 4, 1, 2, 1, 3, 2, 1, 1, 1, 0, 0, 2, 0, 3, 0, 0, 1, 1, 2, 6, 0, 1, 0, 2, 1, 2, 2, 3, 0, 0, 5, 3, 1, 4, 2, 1, 0, 0, 1, 2, 0, 3, 0, 2, 1, 2, 2, 4, 0, 1, 1, 4, 2, 0, 1, 3, 0, 1, 8, 4, 2, 0, 0, 2, 1, 0, 1, 1, 0, 1, 2, 0, 3, 3, 2, 2, 5, 0, 2, 4, 5, 5, 3, 1, 1, 1, 2, 5, 1, 4, 2, 1, 0, 2, 2, 2, 3, 0, 3, 1, 0, 0, 3, 0, 2, 6, 0, 3, 7, 2, 2, 0, 1, 5, 0, 4, 0, 0, 0, 9, 3, 1, 6, 0, 1, 1, 0, 3, 0, 4, 0, 5, 2, 1, 2, 2, 0, 0, 1, 1, 6, 2, 0, 0, 0, 1, 3, 1, 1, 1, 3, 3, 0, 3, 5, 0, 1, 2, 0, 5, 2, 5, 4, 3, 0, 1, 0, 4, 1, 2, 0, 1, 2, 4, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 4, 0, 4, 1, 3, 1, 0, 0, 0, 4, 3, 5, 6, 4, 2, 1, 0, 0, 1, 1, 4, 1, 0, 1, 1, 1, 1, 1, 0, 2, 5, 2, 1, 7, 0, 2, 1, 2, 2, 0, 0, 2, 0, 0, 3, 2, 6, 2, 5, 0, 2, 4, 1, 2, 0, 2, 2, 3, 2, 2, 3, 4, 4, 2, 1, 2, 3, 1, 0, 4, 2, 2, 0, 3, 0, 1, 3, 0, 3, 0, 2, 4, 1, 4, 1, 2, 1, 3, 1, 0, 4, 0, 1, 1, 0, 0, 0, 1, 1]

In [81]:
df_t0=pd.DataFrame()
df_t0['id']=id
df_t0['CTD_11_HB']=CTD_11_HB
df_t0['CTD_11_NV']=CTD_11_NV
df_t0['CTD_11_PO']=CTD_11_PO
df_t0['CTD_11_PZ']=CTD_11_PZ
df_t0['CTD_11_CH']=CTD_11_CH
df_t0['CTD_11_SS']=CTD_11_SS
df_t0['CTD_11_SA']=CTD_11_SA
df_t0['CTD_12_HB']=CTD_12_HB
df_t0['CTD_12_NV']=CTD_12_NV
df_t0['CTD_12_PO']=CTD_12_PO
df_t0['CTD_12_PZ']=CTD_12_PZ
df_t0['CTD_12_CH']=CTD_12_CH
df_t0['CTD_12_SS']=CTD_12_SS
df_t0['CTD_12_SA']=CTD_12_SA
df_t0['CTD_13_HB']=CTD_13_HB
df_t0['CTD_13_NV']=CTD_13_NV
df_t0['CTD_13_PO']=CTD_13_PO
df_t0['CTD_13_PZ']=CTD_13_PZ
df_t0['CTD_13_CH']=CTD_13_CH
df_t0['CTD_13_SS']=CTD_13_SS
df_t0['CTD_13_SA']=CTD_13_SA
df_t0['CTD_21_HB']=CTD_21_HB
df_t0['CTD_21_NV']=CTD_21_NV
df_t0['CTD_21_PO']=CTD_21_PO
df_t0['CTD_21_PZ']=CTD_21_PZ
df_t0['CTD_12_CH']=CTD_21_CH
df_t0['CTD_21_SS']=CTD_21_SS
df_t0['CTD_21_SA']=CTD_21_SA
df_t0['CTD_22_HB']=CTD_22_HB
df_t0['CTD_22_NV']=CTD_22_NV
df_t0['CTD_22_PO']=CTD_22_PO
df_t0['CTD_22_PZ']=CTD_22_PZ
df_t0['CTD_22_CH']=CTD_22_CH
df_t0['CTD_22_SS']=CTD_22_SS
df_t0['CTD_22_SA']=CTD_22_SA
df_t0['CTD_23_HB']=CTD_23_HB
df_t0['CTD_23_NV']=CTD_23_NV
df_t0['CTD_23_PO']=CTD_23_PO
df_t0['CTD_23_PZ']=CTD_23_PZ
df_t0['CTD_23_CH']=CTD_23_CH
df_t0['CTD_23_SS']=CTD_23_SS
df_t0['CTD_23_SA']=CTD_23_SA
df_t0['CTD_31_HB']=CTD_31_HB
df_t0['CTD_31_NV']=CTD_31_NV
df_t0['CTD_31_PO']=CTD_31_PO
df_t0['CTD_31_PZ']=CTD_31_PZ
df_t0['CTD_31_CH']=CTD_31_CH
df_t0['CTD_31_SS']=CTD_31_SS
df_t0['CTD_31_SA']=CTD_31_SA
df_t0['CTD_32_HB']=CTD_32_HB
df_t0['CTD_32_NV']=CTD_32_NV
df_t0['CTD_32_PO']=CTD_32_PO
df_t0['CTD_32_PZ']=CTD_32_PZ
df_t0['CTD_32_CH']=CTD_32_CH
df_t0['CTD_32_SS']=CTD_32_SS
df_t0['CTD_32_SA']=CTD_32_SA
df_t0['CTD_33_HB']=CTD_33_HB
df_t0['CTD_33_NV']=CTD_33_NV
df_t0['CTD_33_PO']=CTD_33_PO
df_t0['CTD_33_PZ']=CTD_33_PZ
df_t0['CTD_33_CH']=CTD_33_CH
df_t0['CTD_33_SS']=CTD_33_SS
df_t0['CTD_33_SA']=CTD_33_SA
df_t0['label']=0
df_t0

               id  CTD_11_HB  CTD_11_NV  ...  CTD_33_SS  CTD_33_SA  label
0      Negative_1          1          4  ...          4          2      0
1      Negative_2          1          0  ...          0          2      0
2      Negative_3          1          4  ...          2          0      0
3      Negative_4          7          3  ...          3          0      0
4      Negative_5          3          1  ...          0          2      0
..            ...        ...        ...  ...        ...        ...    ...
418  Negative_419          0          1  ...          0          0      0
419  Negative_420          3          3  ...          0          1      0
420  Negative_421          5          2  ...          2          3      0
421  Negative_422          2          0  ...          1          0      0
422  Negative_423          3          0  ...          1          0      0

[423 rows x 64 columns]

In [82]:
df_t0.to_csv('T_0.csv')

DISTRIBUTION

In [83]:
#hàm tính distribution
def distribution(p, CTD_):
  CTD_D=[]
  for i in CTD_:
    j=float('{:.4f}'.format(i*p))
    CTD_D.append(j)
  return CTD_D

In [84]:
header_d0 = []
header_d25=[]
header_d50=[]
header_d75=[]
header_d100=[]

bb=['HB1', 'HB2', 'HB3', 'NV1', 'NV2', 'NV3', 'PO1', 'PO2', 'PO3', 'PZ1', 'PZ2', 'PZ3', 'CH1', 'CH2', 'CH3', 'SS1', 'SS2', 'SS3', 'SA1', 'SA2', 'SA3']
for b in bb:
	header_d0.append('CTD_' + '0' + '_'+ b)
for b in bb:
	header_d25.append('CTD_' + '25' + '_'+ b)
for b in bb:
	header_d50.append('CTD_' + '50' + '_'+ b)
for b in bb:
	header_d75.append('CTD_' + '75' + '_'+ b)
for b in bb:
	header_d100.append('CTD_' + '100' + '_'+ b)
print(header_d0)

['CTD_0_HB1', 'CTD_0_HB2', 'CTD_0_HB3', 'CTD_0_NV1', 'CTD_0_NV2', 'CTD_0_NV3', 'CTD_0_PO1', 'CTD_0_PO2', 'CTD_0_PO3', 'CTD_0_PZ1', 'CTD_0_PZ2', 'CTD_0_PZ3', 'CTD_0_CH1', 'CTD_0_CH2', 'CTD_0_CH3', 'CTD_0_SS1', 'CTD_0_SS2', 'CTD_0_SS3', 'CTD_0_SA1', 'CTD_0_SA2', 'CTD_0_SA3']

In [85]:
#tính số aminoaxit của mỗi nhóm có trong peptit
def composition(group, peptide):
  my_seq=Seq(peptide)
  sum=0
  for i in group:
    sum=sum+my_seq.count(i)
  s=sum
  return s
aa = ['1', '2', '3']
bb = ['HB', 'NV', 'PO', 'PZ', 'CH', 'SS', 'SA']
group=[GHB1, GNV1, GPO1, GPZ1, GCH1, GSS1,  GSA1, GHB2, GNV2, GPO2, GPZ2, GCH2, GSS2,  GSA2, GHB3, GNV3, GPO3, GPZ3, GCH3, GSS3,  GSA3]
header_c = []
for a in aa:
  for b in bb:
    header_c.append('CTD_'+ b + a)
#print(header_c)
df_c0 = pd.DataFrame()
df_c0['id'] = id
header_c1=header_c
for i in range(len(group)):
  for j in header_c:
    j=[]
    for k in peptides:
      j.append(composition(group[i], k))
    df_c0[header_c1[i]]=j
df_c0

               id  CTD_HB1  CTD_NV1  ...  CTD_CH3  CTD_SS3  CTD_SA3
0      Negative_1        4        9  ...        1        7        8
1      Negative_2        5        3  ...        1        3        5
2      Negative_3        4       10  ...        1        5        3
3      Negative_4       13        8  ...        7        8        5
4      Negative_5        9        7  ...        2        6        8
..            ...      ...      ...  ...      ...      ...      ...
418  Negative_419        2        3  ...        1        1        1
419  Negative_420        9       10  ...        3        8        8
420  Negative_421       10        6  ...        7        6        8
421  Negative_422        5        3  ...        1        5        2
422  Negative_423        6        4  ...        3        5        3

[423 rows x 22 columns]

In [86]:
CTD_HB1=df_c0['CTD_HB1']
CTD_HB2=df_c0['CTD_HB2']
CTD_HB3=df_c0['CTD_HB3']
CTD_NV1=df_c0['CTD_NV1']
CTD_NV2=df_c0['CTD_NV2']
CTD_NV3=df_c0['CTD_NV3']
CTD_PO1=df_c0['CTD_PO1']
CTD_PO2=df_c0['CTD_PO2']
CTD_PO3=df_c0['CTD_PO3']
CTD_PZ1=df_c0['CTD_PZ1']
CTD_PZ2=df_c0['CTD_PZ2']
CTD_PZ3=df_c0['CTD_PZ3']
CTD_CH1=df_c0['CTD_CH1']
CTD_CH2=df_c0['CTD_CH2']
CTD_CH3=df_c0['CTD_CH3']
CTD_SS1=df_c0['CTD_SS1']
CTD_SS2=df_c0['CTD_SS2']
CTD_SS3=df_c0['CTD_SS3']
CTD_SA1=df_c0['CTD_SA1']
CTD_SA2=df_c0['CTD_SA2']
CTD_SA3=df_c0['CTD_SA3']
header_c =[CTD_HB1, CTD_HB2, CTD_HB3, CTD_NV1, CTD_NV2, CTD_NV3, CTD_PO1, CTD_PO2, CTD_PO3, CTD_PZ1, CTD_PZ2, CTD_PZ3, CTD_CH1, CTD_CH2, CTD_CH3, CTD_SS1, CTD_SS2, CTD_SS3, CTD_SA1, CTD_SA2, CTD_SA3]

In [87]:
df_d0=pd.DataFrame()
df_d0['id']=id

for i in range(len(header_c)):
  k=[]
  k=(distribution(0, header_c[i]))
  df_d0[header_d0[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.25, header_c[i]))
  df_d0[header_d25[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.5, header_c[i]))
  df_d0[header_d50[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.75, header_c[i]))
  df_d0[header_d75[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(1, header_c[i]))
  df_d0[header_d100[i]]=k    
df_d0['label']=0
df_d0

               id  CTD_0_HB1  CTD_0_HB2  ...  CTD_100_SA2  CTD_100_SA3  label
0      Negative_1        0.0        0.0  ...          4.0          8.0      0
1      Negative_2        0.0        0.0  ...          5.0          5.0      0
2      Negative_3        0.0        0.0  ...          4.0          3.0      0
3      Negative_4        0.0        0.0  ...         13.0          5.0      0
4      Negative_5        0.0        0.0  ...          9.0          8.0      0
..            ...        ...        ...  ...          ...          ...    ...
418  Negative_419        0.0        0.0  ...          2.0          1.0      0
419  Negative_420        0.0        0.0  ...          9.0          8.0      0
420  Negative_421        0.0        0.0  ...         10.0          8.0      0
421  Negative_422        0.0        0.0  ...          5.0          2.0      0
422  Negative_423        0.0        0.0  ...          6.0          3.0      0

[423 rows x 107 columns]

In [88]:
df_d0.to_csv('D_0.csv')

In [89]:
#ghep 3 thuoc tinh vao thanh 1
c_0=pd.read_csv('C_0.csv')
c_0=c_0.drop(columns=['Unnamed: 0', 'label'])
t_0=pd.read_csv('T_0.csv')
t_0=t_0.drop(columns=['Unnamed: 0', 'label'])
d_0=pd.read_csv('D_0.csv')
d_0=d_0.drop(columns=['Unnamed: 0', 'label'])
df_0=pd.merge(c_0, t_0, on='id')
df_0=pd.merge(df_0, d_0, on='id')
df_0['label']=0
df_0

               id  CTD_HB1  CTD_NV1  ...  CTD_100_SA2  CTD_100_SA3  label
0      Negative_1   0.2857   0.6429  ...          4.0          8.0      0
1      Negative_2   0.3846   0.2308  ...          5.0          5.0      0
2      Negative_3   0.1481   0.3704  ...          4.0          3.0      0
3      Negative_4   0.5417   0.3333  ...         13.0          5.0      0
4      Negative_5   0.3913   0.3043  ...          9.0          8.0      0
..            ...      ...      ...  ...          ...          ...    ...
418  Negative_419   0.3333   0.5000  ...          2.0          1.0      0
419  Negative_420   0.4091   0.4545  ...          9.0          8.0      0
420  Negative_421   0.5263   0.3158  ...         10.0          8.0      0
421  Negative_422   0.4545   0.2727  ...          5.0          2.0      0
422  Negative_423   0.4615   0.3077  ...          6.0          3.0      0

[423 rows x 190 columns]

In [90]:
df_0.to_csv('CTD_0.csv')

TÍNH TOÁN VỚI FILE POSITIVE

In [91]:
# luu cac peptit vao mang peptides
peptides=[]
# luu id vao mang id
id=[]
for seq_record in SeqIO.parse('/content/gdrive/MyDrive/Layer1-positive.fansta', 'fasta'):
  peptides.append(seq_record.seq)
  id.append(seq_record.id)
print(peptides[3])
print(id[3])

LLKKLLKKLLKKLLKK
Positive_4

COMPOSITION

In [92]:
#tinh thanh phan tung nhom theo 7 chi so
#ham tinh thanh phan 
def composition(group, peptide):
  my_seq=Seq(peptide)
  sum=0
  for i in group:
    sum=sum+my_seq.count(i)
  s=float('{:.4f}'.format(sum/len(my_seq)))
  return (s)

In [93]:
aa = ['1', '2', '3']
bb = ['HB', 'NV', 'PO', 'PZ', 'CH', 'SS', 'SA']
group=[GHB1, GNV1, GPO1, GPZ1, GCH1, GSS1,  GSA1, GHB2, GNV2, GPO2, GPZ2, GCH2, GSS2,  GSA2, GHB3, GNV3, GPO3, GPZ3, GCH3, GSS3,  GSA3]
header_c = []
for a in aa:
  for b in bb:
    header_c.append('CTD_'+ b + a)
print(header_c)

['CTD_HB1', 'CTD_NV1', 'CTD_PO1', 'CTD_PZ1', 'CTD_CH1', 'CTD_SS1', 'CTD_SA1', 'CTD_HB2', 'CTD_NV2', 'CTD_PO2', 'CTD_PZ2', 'CTD_CH2', 'CTD_SS2', 'CTD_SA2', 'CTD_HB3', 'CTD_NV3', 'CTD_PO3', 'CTD_PZ3', 'CTD_CH3', 'CTD_SS3', 'CTD_SA3']

In [94]:
df_c1 = pd.DataFrame()
df_c1['id'] = id
header_c1=header_c
for i in range(len(group)):
  for j in header_c:
    j=[]
    for k in peptides:
      j.append(composition(group[i], k))
    df_c1[header_c1[i]]=j
df_c1['label']=1
df_c1

               id  CTD_HB1  CTD_NV1  CTD_PO1  ...  CTD_CH3  CTD_SS3  CTD_SA3  label
0      Positive_1   0.1429   0.3333   0.5238  ...   0.0000   0.3333   0.0476      1
1      Positive_2   0.2692   0.2692   0.4231  ...   0.0000   0.1538   0.3077      1
2      Positive_3   0.3333   0.0000   0.6667  ...   0.0000   0.0000   0.0000      1
3      Positive_4   0.5000   0.0000   0.5000  ...   0.0000   0.0000   0.0000      1
4      Positive_5   0.1333   0.3667   0.5000  ...   0.0333   0.3333   0.2667      1
..            ...      ...      ...      ...  ...      ...      ...      ...    ...
428  Positive_429   0.3125   0.3125   0.4062  ...   0.0312   0.2500   0.1250      1
429  Positive_430   0.3500   0.2000   0.4000  ...   0.0000   0.1500   0.2000      1
430  Positive_431   0.3846   0.1538   0.4231  ...   0.0000   0.1538   0.1538      1
431  Positive_432   0.2703   0.3784   0.3784  ...   0.0270   0.2973   0.1351      1
432  Positive_433   0.1364   0.2273   0.4545  ...   0.0000   0.0909   0.2727      1

[433 rows x 23 columns]

In [95]:
df_c1.to_csv('C_1.csv')

TRANSITION

In [96]:
# ham tinh transition
def transition(group_a, group_b, peptide):
  count=0
  for i in range(len(peptide)-1):
    if ((peptide[i] in group_a) == True) and ((peptide[i+1] in group_b) == True):
      count+=1
  return count

In [97]:
CTD_11_HB=[]
for i in peptides:
  CTD_11_HB.append(transition(GHB1, GHB1, i))
print(CTD_11_HB)
CTD_11_NV=[]
for i in peptides:
  CTD_11_NV.append(transition(GNV1, GNV1, i))
CTD_11_PO=[]
for i in peptides:
  CTD_11_PO.append(transition(GPO1, GPO1, i))
CTD_11_PZ=[]
for i in peptides:
  CTD_11_PZ.append(transition(GPZ1, GPZ1, i))
CTD_11_CH=[]
for i in peptides:
  CTD_11_CH.append(transition(GCH1, GCH1, i))
CTD_11_SS=[]
for i in peptides:
  CTD_11_SS.append(transition(GSS1, GSS1, i))
CTD_11_SA=[]
for i in peptides:
  CTD_11_SA.append(transition(GSA1, GSA1, i))

[1, 1, 0, 4, 1, 3, 3, 1, 1, 5, 1, 2, 4, 0, 2, 3, 0, 2, 2, 5, 1, 2, 1, 2, 1, 1, 0, 5, 0, 2, 0, 0, 2, 3, 0, 1, 2, 0, 2, 1, 2, 2, 2, 1, 1, 1, 3, 1, 1, 4, 0, 1, 3, 1, 4, 1, 1, 0, 2, 1, 0, 2, 3, 4, 0, 0, 5, 2, 0, 2, 0, 0, 2, 2, 2, 0, 1, 2, 2, 0, 3, 5, 0, 2, 0, 1, 0, 1, 2, 2, 1, 0, 0, 1, 3, 1, 1, 1, 2, 2, 0, 3, 0, 2, 0, 1, 5, 0, 0, 3, 0, 1, 2, 4, 0, 0, 1, 1, 1, 0, 8, 1, 1, 0, 1, 1, 3, 1, 1, 2, 1, 1, 0, 1, 3, 2, 2, 0, 0, 2, 1, 5, 2, 2, 0, 2, 1, 0, 0, 2, 1, 2, 0, 1, 5, 4, 1, 1, 0, 0, 3, 0, 3, 1, 0, 2, 2, 0, 1, 2, 2, 1, 1, 1, 2, 0, 0, 0, 1, 1, 2, 2, 0, 0, 2, 1, 2, 1, 3, 1, 0, 2, 2, 1, 3, 1, 6, 3, 0, 2, 3, 5, 2, 0, 2, 3, 9, 2, 0, 1, 1, 1, 0, 2, 0, 4, 3, 0, 1, 1, 3, 2, 1, 2, 2, 1, 2, 2, 2, 5, 2, 0, 0, 0, 5, 2, 2, 1, 1, 1, 2, 2, 0, 2, 5, 5, 2, 0, 1, 2, 1, 2, 1, 3, 4, 1, 3, 3, 0, 0, 5, 1, 0, 5, 0, 1, 0, 0, 0, 7, 2, 1, 0, 1, 0, 1, 0, 1, 4, 2, 1, 0, 0, 5, 2, 0, 2, 0, 3, 1, 4, 2, 1, 2, 0, 2, 3, 2, 2, 5, 1, 1, 1, 0, 0, 1, 1, 2, 2, 3, 2, 1, 2, 0, 2, 1, 1, 1, 0, 8, 1, 0, 0, 1, 3, 4, 1, 0, 1, 2, 2, 2, 1, 0, 1, 0, 0, 0, 2, 3, 2, 0, 1, 0, 6, 2, 0, 2, 2, 1, 1, 2, 2, 3, 4, 2, 1, 1, 5, 0, 1, 1, 1, 0, 3, 2, 2, 1, 2, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 0, 0, 0, 0, 5, 4, 1, 0, 1, 1, 1, 0, 0, 2, 1, 2, 1, 0, 0, 0, 0, 1, 2, 0, 4, 2, 4, 2, 3, 1, 1, 4, 2, 1, 0, 0, 4, 1, 1, 2, 1, 1, 0, 0, 1, 1, 0, 0, 5, 3, 2, 5, 2, 0]

In [98]:
CTD_12_HB=[]
for i in peptides:
  CTD_12_HB.append(transition(GHB1, GHB2, i))
print(CTD_12_HB)
CTD_12_NV=[]
for i in peptides:
  CTD_12_NV.append(transition(GNV1, GNV2, i))
CTD_12_PO=[]
for i in peptides:
  CTD_12_PO.append(transition(GPO1, GPO2, i))
CTD_12_PZ=[]
for i in peptides:
  CTD_12_PZ.append(transition(GPZ1, GPZ2, i))
CTD_12_CH=[]
for i in peptides:
  CTD_12_CH.append(transition(GCH1, GCH2, i))
CTD_12_SS=[]
for i in peptides:
  CTD_12_SS.append(transition(GSS1, GSS2, i))
CTD_12_SA=[]
for i in peptides:
  CTD_12_SA.append(transition(GSA1, GSA2, i))

[0, 4, 0, 0, 2, 2, 0, 4, 0, 4, 0, 4, 0, 1, 1, 4, 0, 1, 0, 1, 5, 0, 3, 0, 5, 1, 3, 1, 0, 0, 2, 1, 1, 2, 0, 3, 1, 0, 4, 0, 0, 1, 1, 3, 0, 4, 2, 0, 0, 2, 1, 2, 1, 3, 0, 3, 0, 0, 4, 2, 1, 0, 1, 1, 0, 0, 0, 2, 1, 0, 0, 0, 0, 1, 3, 3, 3, 1, 0, 0, 1, 1, 0, 0, 0, 4, 1, 2, 0, 2, 2, 1, 2, 2, 3, 2, 4, 0, 1, 0, 4, 0, 1, 1, 0, 0, 1, 2, 0, 0, 2, 0, 0, 1, 0, 1, 3, 0, 0, 0, 3, 3, 0, 2, 0, 1, 0, 2, 0, 2, 0, 0, 0, 0, 4, 0, 0, 5, 2, 0, 1, 0, 0, 2, 1, 3, 0, 0, 0, 3, 2, 3, 2, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 3, 0, 0, 0, 3, 0, 5, 4, 0, 0, 1, 0, 2, 0, 0, 1, 0, 2, 0, 3, 2, 1, 0, 1, 4, 0, 0, 0, 0, 0, 0, 5, 2, 0, 1, 2, 0, 0, 2, 3, 2, 2, 1, 3, 2, 0, 3, 0, 3, 0, 0, 1, 1, 2, 0, 2, 3, 0, 0, 4, 0, 4, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 3, 1, 2, 3, 1, 2, 1, 0, 0, 1, 0, 0, 1, 2, 0, 2, 2, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 2, 2, 0, 0, 0, 0, 4, 0, 2, 0, 0, 0, 3, 5, 0, 0, 0, 3, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 1, 1, 2, 1, 0, 3, 0, 3, 1, 2, 0, 1, 2, 1, 0, 0, 2, 2, 0, 0, 0, 3, 0, 0, 3, 0, 2, 0, 2, 0, 0, 1, 5, 0, 1, 2, 4, 1, 2, 0, 2, 6, 0, 2, 1, 0, 2, 0, 0, 1, 4, 0, 1, 0, 4, 3, 0, 0, 1, 5, 1, 0, 0, 1, 0, 0, 3, 0, 0, 0, 0, 3, 3, 1, 0, 0, 5, 0, 3, 0, 1, 1, 0, 3, 2, 1, 0, 0, 1, 5, 3, 0, 5, 0, 2, 3, 0, 2, 4, 0, 0, 0, 2, 0, 0, 1, 1, 0, 1, 0, 1, 1, 2, 0, 2, 1, 0, 0, 2, 1, 5, 0, 0, 0, 0, 0, 0, 1, 2, 3, 1, 0, 0, 0, 1, 0, 3, 2]

In [99]:
CTD_13_HB=[]
for i in peptides:
  CTD_13_HB.append(transition(GHB1, GHB3, i))
print(CTD_13_HB)
CTD_13_NV=[]
for i in peptides:
  CTD_13_NV.append(transition(GNV1, GNV3, i))
CTD_13_PO=[]
for i in peptides:
  CTD_13_PO.append(transition(GPO1, GPO3, i))
CTD_13_PZ=[]
for i in peptides:
  CTD_13_PZ.append(transition(GPZ1, GPZ3, i))
CTD_13_CH=[]
for i in peptides:
  CTD_13_CH.append(transition(GCH1, GCH3, i))
CTD_13_SS=[]
for i in peptides:
  CTD_13_SS.append(transition(GSS1, GSS3, i))
CTD_13_SA=[]
for i in peptides:
  CTD_13_SA.append(transition(GSA1, GSA3, i))

[2, 2, 3, 3, 1, 3, 1, 1, 3, 3, 4, 2, 1, 1, 6, 2, 2, 4, 5, 0, 1, 1, 3, 3, 2, 2, 0, 0, 0, 5, 3, 0, 3, 4, 0, 1, 2, 2, 4, 2, 1, 1, 1, 0, 2, 0, 1, 3, 4, 4, 1, 3, 2, 0, 5, 0, 4, 3, 4, 3, 0, 3, 2, 0, 2, 3, 0, 1, 3, 3, 1, 5, 3, 4, 4, 0, 1, 2, 3, 1, 3, 0, 2, 2, 3, 0, 0, 3, 1, 2, 2, 1, 1, 1, 4, 1, 1, 1, 1, 3, 0, 3, 0, 4, 1, 2, 0, 1, 2, 5, 2, 5, 2, 3, 3, 2, 1, 1, 4, 6, 5, 1, 2, 2, 2, 3, 4, 1, 3, 2, 3, 2, 1, 1, 2, 4, 3, 1, 1, 1, 5, 0, 2, 2, 1, 3, 2, 1, 1, 1, 1, 1, 1, 2, 5, 4, 1, 5, 2, 2, 4, 3, 5, 1, 3, 3, 4, 1, 3, 3, 2, 1, 0, 1, 1, 2, 1, 1, 4, 2, 2, 3, 1, 2, 3, 1, 1, 4, 4, 1, 3, 1, 1, 3, 7, 4, 4, 1, 3, 4, 4, 0, 1, 1, 1, 3, 1, 2, 1, 1, 3, 4, 4, 4, 1, 4, 8, 1, 1, 1, 1, 0, 4, 1, 5, 3, 4, 4, 3, 1, 4, 4, 0, 1, 5, 1, 4, 4, 3, 1, 0, 2, 1, 1, 0, 7, 2, 3, 1, 2, 1, 1, 0, 5, 4, 3, 8, 0, 4, 4, 7, 2, 3, 0, 3, 1, 2, 3, 1, 8, 4, 5, 6, 2, 1, 1, 4, 1, 6, 2, 1, 5, 1, 5, 4, 2, 3, 1, 2, 1, 3, 1, 2, 4, 3, 2, 2, 3, 2, 0, 1, 3, 1, 0, 1, 3, 2, 3, 4, 4, 5, 2, 5, 1, 4, 4, 0, 2, 2, 7, 2, 0, 1, 3, 4, 3, 2, 1, 2, 1, 1, 4, 3, 1, 4, 1, 1, 1, 0, 4, 3, 1, 3, 3, 5, 4, 1, 4, 2, 1, 0, 2, 1, 4, 2, 2, 1, 2, 0, 5, 3, 1, 3, 6, 4, 4, 3, 0, 4, 1, 5, 1, 3, 1, 2, 2, 2, 4, 0, 1, 2, 4, 2, 0, 2, 0, 2, 1, 1, 1, 0, 1, 3, 1, 1, 4, 1, 2, 1, 2, 2, 3, 1, 3, 3, 4, 2, 1, 2, 3, 4, 3, 1, 4, 1, 2, 1, 5, 1, 2, 2, 2, 0, 1, 0, 0, 1, 1, 7, 4, 5, 5, 1]

In [100]:
CTD_21_HB=[]
for i in peptides:
  CTD_21_HB.append(transition(GHB2, GHB1, i))
print(CTD_21_HB)
CTD_21_NV=[]
for i in peptides:
  CTD_21_NV.append(transition(GNV2, GNV1, i))
CTD_21_PO=[]
for i in peptides:
  CTD_21_PO.append(transition(GPO2, GPO1, i))
CTD_21_PZ=[]
for i in peptides:
  CTD_21_PZ.append(transition(GPZ2, GPZ1, i))
CTD_21_CH=[]
for i in peptides:
  CTD_21_CH.append(transition(GCH2, GCH1, i))
CTD_21_SS=[]
for i in peptides:
  CTD_21_SS.append(transition(GSS2, GSS1, i))
CTD_21_SA=[]
for i in peptides:
  CTD_21_SA.append(transition(GSA2, GSA1, i))

[2, 0, 0, 0, 3, 3, 0, 4, 1, 5, 1, 1, 0, 2, 2, 3, 2, 3, 2, 0, 1, 1, 1, 0, 2, 1, 3, 0, 0, 1, 4, 0, 3, 1, 0, 1, 3, 2, 3, 0, 1, 2, 1, 2, 0, 2, 2, 2, 3, 3, 1, 2, 1, 2, 0, 2, 1, 3, 5, 1, 0, 0, 1, 1, 0, 2, 0, 2, 2, 2, 1, 2, 0, 1, 6, 2, 3, 2, 0, 1, 2, 0, 2, 1, 2, 2, 0, 2, 0, 3, 1, 0, 2, 2, 4, 2, 2, 0, 2, 0, 1, 0, 1, 2, 0, 2, 0, 2, 2, 0, 1, 1, 1, 1, 2, 2, 3, 0, 1, 0, 2, 3, 0, 3, 1, 2, 2, 0, 0, 2, 3, 1, 0, 1, 4, 2, 0, 0, 1, 1, 3, 0, 2, 3, 0, 4, 1, 0, 1, 1, 2, 2, 1, 0, 1, 2, 3, 0, 1, 2, 0, 1, 0, 1, 2, 1, 2, 1, 0, 3, 1, 2, 3, 0, 0, 2, 0, 0, 1, 1, 1, 1, 1, 0, 3, 0, 2, 1, 2, 2, 0, 0, 1, 0, 4, 1, 2, 2, 2, 2, 1, 0, 0, 1, 2, 2, 3, 1, 1, 1, 3, 3, 3, 2, 1, 0, 4, 0, 2, 0, 2, 2, 1, 0, 6, 3, 3, 2, 0, 0, 2, 0, 1, 1, 1, 1, 0, 3, 2, 0, 2, 1, 2, 2, 0, 0, 1, 0, 0, 1, 0, 1, 2, 3, 2, 2, 4, 1, 4, 0, 1, 1, 2, 0, 3, 0, 3, 0, 2, 8, 0, 5, 3, 0, 1, 3, 0, 0, 0, 2, 2, 0, 1, 1, 4, 2, 0, 1, 2, 0, 1, 0, 0, 1, 2, 0, 1, 2, 1, 0, 3, 0, 3, 0, 1, 2, 0, 1, 2, 0, 2, 3, 3, 0, 0, 0, 2, 1, 1, 5, 2, 0, 1, 4, 0, 0, 1, 1, 0, 2, 0, 3, 1, 2, 3, 2, 5, 1, 2, 3, 1, 2, 0, 2, 2, 3, 1, 2, 0, 2, 2, 1, 1, 2, 6, 1, 1, 1, 0, 0, 0, 3, 3, 0, 0, 1, 3, 2, 3, 1, 1, 2, 3, 3, 1, 0, 1, 0, 2, 2, 1, 4, 2, 0, 3, 2, 2, 2, 0, 1, 2, 1, 4, 2, 0, 1, 1, 1, 1, 0, 1, 2, 0, 0, 0, 1, 2, 2, 0, 2, 2, 0, 0, 3, 0, 3, 0, 1, 1, 0, 0, 0, 1, 3, 2, 1, 1, 0, 4, 2, 1, 2, 2]

In [101]:
CTD_22_HB=[]
for i in peptides:
  CTD_22_HB.append(transition(GHB2, GHB2, i))
print(CTD_22_HB)
CTD_22_NV=[]
for i in peptides:
  CTD_22_NV.append(transition(GNV2, GNV2, i))
CTD_22_PO=[]
for i in peptides:
  CTD_22_PO.append(transition(GPO2, GPO2, i))
CTD_22_PZ=[]
for i in peptides:
  CTD_22_PZ.append(transition(GPZ2, GPZ2, i))
CTD_22_CH=[]
for i in peptides:
  CTD_22_CH.append(transition(GCH2, GCH2, i))
CTD_22_SS=[]
for i in peptides:
  CTD_22_SS.append(transition(GSS2, GSS2, i))
CTD_22_SA=[]
for i in peptides:
  CTD_22_SA.append(transition(GSA2, GSA2, i))

[1, 2, 0, 0, 1, 0, 1, 8, 1, 3, 0, 4, 0, 2, 4, 2, 4, 0, 0, 0, 3, 0, 6, 0, 3, 1, 5, 1, 1, 0, 3, 3, 4, 5, 2, 2, 4, 1, 5, 1, 0, 3, 2, 4, 0, 4, 4, 2, 1, 1, 2, 0, 0, 4, 0, 4, 0, 3, 4, 2, 4, 0, 0, 9, 0, 0, 0, 5, 5, 4, 1, 0, 0, 1, 3, 3, 5, 1, 0, 1, 1, 1, 2, 1, 0, 4, 1, 0, 0, 4, 0, 1, 2, 3, 0, 0, 4, 0, 3, 0, 6, 0, 1, 1, 4, 1, 2, 1, 4, 0, 2, 0, 3, 1, 3, 1, 2, 0, 0, 0, 0, 2, 0, 1, 1, 0, 0, 5, 0, 4, 2, 1, 2, 0, 2, 0, 0, 4, 0, 0, 0, 1, 0, 4, 1, 2, 0, 0, 1, 1, 4, 1, 3, 0, 0, 1, 1, 0, 1, 2, 0, 0, 0, 2, 3, 2, 0, 0, 0, 5, 0, 4, 4, 0, 0, 3, 4, 0, 0, 0, 1, 0, 0, 0, 4, 3, 4, 0, 1, 4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 5, 4, 0, 3, 1, 2, 1, 1, 2, 3, 3, 3, 2, 3, 2, 0, 2, 1, 4, 0, 2, 4, 0, 0, 6, 3, 5, 0, 0, 3, 1, 0, 7, 3, 1, 4, 1, 2, 3, 0, 4, 1, 2, 4, 1, 0, 1, 0, 1, 1, 2, 0, 4, 1, 1, 0, 2, 0, 1, 0, 0, 1, 0, 2, 2, 2, 3, 1, 2, 0, 0, 0, 3, 3, 2, 4, 0, 0, 0, 6, 4, 0, 1, 1, 3, 2, 0, 1, 1, 0, 3, 0, 0, 0, 0, 0, 0, 6, 1, 1, 3, 0, 1, 2, 0, 2, 0, 6, 3, 0, 0, 1, 3, 0, 0, 3, 4, 1, 1, 0, 1, 1, 1, 2, 0, 0, 0, 5, 0, 4, 0, 5, 3, 4, 2, 2, 5, 1, 2, 1, 0, 2, 0, 0, 2, 5, 1, 3, 0, 4, 6, 1, 0, 1, 3, 1, 1, 4, 3, 0, 0, 2, 3, 2, 0, 0, 5, 6, 1, 5, 0, 4, 3, 3, 4, 1, 1, 0, 6, 2, 1, 1, 0, 2, 1, 6, 2, 4, 0, 2, 4, 1, 4, 4, 0, 0, 1, 2, 2, 0, 0, 0, 4, 1, 0, 2, 3, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 8, 1, 6, 4, 6, 4, 3, 2, 1, 6, 2]

In [102]:
CTD_23_HB=[]
for i in peptides:
  CTD_23_HB.append(transition(GHB2, GHB3, i))
print(CTD_23_HB)
CTD_23_NV=[]
for i in peptides:
  CTD_23_NV.append(transition(GNV2, GNV3, i))
CTD_23_PO=[]
for i in peptides:
  CTD_23_PO.append(transition(GPO2, GPO3, i))
CTD_23_PZ=[]
for i in peptides:
  CTD_23_PZ.append(transition(GPZ2, GPZ3, i))
CTD_23_CH=[]
for i in peptides:
  CTD_23_CH.append(transition(GCH2, GCH3, i))
CTD_23_SS=[]
for i in peptides:
  CTD_23_SS.append(transition(GSS2, GSS3, i))
CTD_23_SA=[]
for i in peptides:
  CTD_23_SA.append(transition(GSA2, GSA3, i))

[4, 5, 0, 0, 7, 2, 4, 6, 1, 4, 1, 4, 0, 8, 2, 3, 1, 0, 1, 3, 5, 1, 6, 0, 8, 2, 2, 3, 3, 1, 2, 2, 3, 3, 3, 3, 4, 1, 5, 4, 2, 5, 2, 7, 3, 7, 5, 2, 1, 2, 4, 1, 0, 8, 1, 7, 1, 0, 5, 2, 3, 0, 0, 4, 0, 0, 3, 6, 5, 2, 1, 1, 0, 2, 1, 2, 4, 1, 1, 2, 1, 3, 2, 3, 0, 8, 3, 0, 2, 5, 2, 3, 4, 7, 1, 2, 4, 3, 4, 0, 6, 0, 3, 2, 5, 2, 3, 2, 1, 0, 3, 1, 2, 1, 2, 1, 6, 3, 1, 0, 4, 6, 3, 1, 2, 1, 1, 5, 0, 5, 3, 2, 2, 1, 3, 1, 0, 6, 2, 2, 1, 2, 1, 5, 2, 2, 0, 1, 2, 3, 7, 3, 5, 2, 0, 2, 8, 0, 3, 3, 1, 0, 0, 2, 3, 6, 1, 2, 0, 5, 1, 4, 6, 2, 1, 1, 6, 2, 2, 2, 1, 1, 3, 0, 4, 5, 5, 1, 2, 4, 0, 1, 1, 0, 1, 1, 6, 0, 0, 1, 3, 5, 1, 5, 3, 3, 0, 1, 5, 3, 2, 6, 1, 4, 2, 1, 1, 2, 7, 3, 6, 4, 2, 2, 2, 2, 5, 1, 1, 2, 1, 0, 5, 5, 3, 4, 1, 1, 3, 2, 4, 1, 4, 4, 2, 0, 1, 0, 3, 1, 2, 1, 8, 4, 2, 1, 1, 2, 2, 0, 0, 3, 0, 3, 0, 3, 3, 4, 4, 0, 0, 1, 0, 5, 2, 7, 0, 3, 0, 4, 4, 0, 3, 1, 1, 2, 0, 2, 0, 3, 3, 1, 0, 1, 0, 1, 1, 2, 1, 3, 4, 0, 6, 3, 2, 2, 1, 3, 1, 0, 1, 1, 5, 2, 0, 2, 7, 2, 6, 0, 4, 3, 3, 2, 1, 0, 1, 5, 2, 4, 3, 5, 2, 3, 2, 4, 5, 2, 9, 2, 0, 4, 0, 0, 3, 5, 2, 1, 0, 4, 6, 4, 1, 2, 5, 1, 2, 1, 3, 0, 0, 7, 2, 1, 0, 2, 4, 6, 1, 4, 0, 4, 2, 6, 1, 2, 1, 0, 6, 4, 2, 2, 1, 3, 5, 6, 2, 4, 3, 2, 2, 2, 0, 3, 2, 1, 2, 4, 2, 0, 2, 1, 5, 1, 0, 1, 5, 6, 0, 0, 2, 0, 2, 0, 2, 5, 3, 1, 1, 0, 1, 0, 4, 8, 6, 5, 4, 5, 2, 1, 3, 5, 4]

In [103]:
CTD_31_HB=[]
for i in peptides:
  CTD_31_HB.append(transition(GHB3, GHB1, i))
print(CTD_31_HB)
CTD_31_NV=[]
for i in peptides:
  CTD_31_NV.append(transition(GNV3, GNV1, i))
CTD_31_PO=[]
for i in peptides:
  CTD_31_PO.append(transition(GPO3, GPO1, i))
CTD_31_PZ=[]
for i in peptides:
  CTD_31_PZ.append(transition(GPZ3, GPZ1, i))
CTD_31_CH=[]
for i in peptides:
  CTD_31_CH.append(transition(GCH3, GCH1, i))
CTD_31_SS=[]
for i in peptides:
  CTD_31_SS.append(transition(GSS3, GSS1, i))
CTD_31_SA=[]
for i in peptides:
  CTD_31_SA.append(transition(GSA3, GSA1, i))

[0, 5, 2, 4, 0, 3, 2, 2, 1, 3, 4, 4, 1, 1, 5, 3, 0, 2, 2, 0, 4, 1, 5, 2, 5, 2, 1, 0, 0, 3, 1, 1, 2, 4, 0, 3, 1, 0, 5, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 3, 1, 3, 2, 1, 5, 1, 4, 0, 3, 3, 1, 3, 2, 0, 2, 1, 1, 1, 3, 1, 1, 3, 2, 4, 2, 2, 2, 1, 4, 0, 2, 0, 0, 1, 1, 2, 1, 3, 2, 2, 4, 2, 1, 1, 3, 1, 3, 2, 1, 3, 3, 3, 0, 2, 1, 0, 0, 1, 0, 4, 2, 5, 1, 2, 1, 0, 1, 2, 4, 6, 5, 1, 1, 1, 1, 2, 1, 3, 3, 3, 0, 1, 2, 1, 2, 2, 3, 5, 2, 1, 3, 1, 1, 2, 3, 2, 2, 2, 0, 3, 2, 3, 2, 3, 4, 3, 0, 5, 3, 1, 5, 2, 5, 2, 1, 5, 2, 0, 2, 3, 1, 4, 1, 2, 1, 1, 1, 4, 4, 1, 1, 2, 2, 3, 3, 3, 1, 4, 2, 3, 3, 1, 1, 3, 3, 4, 7, 1, 1, 2, 4, 1, 1, 2, 3, 3, 0, 1, 3, 3, 0, 4, 1, 5, 0, 4, 5, 3, 2, 2, 1, 1, 4, 1, 3, 0, 5, 2, 5, 0, 3, 4, 0, 1, 4, 0, 3, 4, 2, 3, 1, 1, 1, 1, 1, 7, 1, 3, 2, 1, 3, 1, 1, 4, 3, 3, 5, 1, 0, 5, 6, 1, 1, 0, 1, 1, 0, 4, 1, 0, 4, 0, 2, 5, 0, 1, 4, 2, 6, 3, 4, 4, 0, 3, 4, 0, 2, 0, 0, 2, 4, 1, 3, 2, 1, 2, 3, 2, 1, 1, 1, 3, 1, 1, 2, 1, 3, 3, 2, 5, 2, 2, 4, 2, 3, 3, 1, 1, 1, 5, 0, 2, 0, 1, 4, 4, 2, 4, 3, 1, 2, 5, 2, 1, 1, 1, 2, 0, 1, 3, 2, 1, 4, 1, 4, 5, 0, 2, 3, 3, 1, 1, 1, 2, 2, 1, 1, 1, 0, 5, 3, 1, 0, 6, 5, 2, 3, 1, 2, 1, 5, 4, 0, 1, 1, 3, 1, 4, 1, 1, 3, 0, 0, 0, 4, 1, 0, 4, 2, 3, 1, 0, 1, 3, 2, 4, 0, 3, 0, 3, 3, 2, 1, 3, 2, 3, 2, 1, 2, 3, 3, 2, 1, 4, 3, 4, 2, 5, 1, 2, 2, 2, 0, 0, 1, 0, 0, 2, 3, 2, 4, 6, 1]

In [104]:
CTD_32_HB=[]
for i in peptides:
  CTD_32_HB.append(transition(GHB3, GHB2, i))
print(CTD_32_HB)
CTD_32_NV=[]
for i in peptides:
  CTD_32_NV.append(transition(GNV3, GNV2, i))
CTD_32_PO=[]
for i in peptides:
  CTD_32_PO.append(transition(GPO3, GPO2, i))
CTD_32_PZ=[]
for i in peptides:
  CTD_32_PZ.append(transition(GPZ3, GPZ2, i))
CTD_32_CH=[]
for i in peptides:
  CTD_32_CH.append(transition(GCH3, GCH2, i))
CTD_32_SS=[]
for i in peptides:
  CTD_32_SS.append(transition(GSS3, GSS2, i))
CTD_32_SA=[]
for i in peptides:
  CTD_32_SA.append(transition(GSA3, GSA2, i))

[5, 2, 0, 0, 9, 2, 3, 5, 2, 4, 1, 2, 0, 8, 2, 2, 3, 2, 3, 3, 2, 2, 3, 0, 4, 2, 1, 3, 3, 2, 4, 1, 4, 3, 3, 0, 5, 3, 3, 4, 2, 6, 2, 7, 3, 6, 6, 3, 3, 3, 3, 1, 0, 7, 1, 7, 1, 3, 5, 1, 1, 0, 0, 4, 0, 2, 2, 7, 5, 4, 2, 3, 0, 2, 3, 1, 3, 2, 1, 3, 2, 3, 4, 4, 2, 6, 2, 0, 2, 5, 1, 2, 5, 8, 2, 2, 2, 3, 5, 0, 3, 0, 3, 3, 4, 4, 3, 2, 3, 0, 3, 1, 3, 2, 3, 2, 7, 3, 1, 0, 3, 7, 3, 2, 3, 2, 3, 3, 0, 5, 6, 2, 2, 2, 3, 3, 0, 2, 1, 2, 3, 1, 3, 5, 1, 3, 1, 1, 3, 0, 6, 1, 3, 2, 1, 3, 9, 0, 3, 3, 0, 1, 0, 1, 5, 3, 3, 3, 0, 4, 2, 1, 6, 1, 1, 2, 6, 0, 2, 2, 2, 2, 1, 0, 4, 2, 6, 1, 3, 2, 0, 1, 2, 0, 4, 1, 3, 0, 2, 2, 3, 4, 1, 3, 1, 3, 1, 1, 2, 1, 5, 5, 3, 2, 3, 0, 4, 1, 6, 3, 7, 4, 2, 2, 3, 5, 3, 3, 0, 3, 2, 0, 5, 4, 4, 4, 1, 0, 3, 0, 4, 1, 5, 5, 2, 0, 1, 0, 3, 2, 0, 2, 7, 4, 3, 2, 4, 2, 5, 0, 1, 4, 2, 3, 2, 3, 4, 3, 5, 8, 0, 5, 3, 2, 3, 7, 0, 3, 0, 4, 1, 0, 4, 2, 1, 4, 0, 3, 2, 3, 2, 1, 0, 2, 2, 0, 1, 3, 1, 2, 4, 0, 7, 2, 1, 3, 0, 3, 2, 0, 3, 2, 5, 2, 0, 3, 7, 3, 6, 3, 5, 1, 3, 4, 1, 0, 1, 2, 2, 5, 1, 3, 2, 4, 5, 5, 3, 3, 8, 4, 1, 5, 0, 2, 3, 3, 3, 2, 0, 2, 4, 4, 2, 3, 5, 1, 3, 2, 3, 0, 0, 8, 5, 1, 0, 3, 4, 4, 3, 5, 1, 1, 5, 7, 2, 2, 1, 0, 4, 5, 2, 5, 3, 3, 3, 4, 4, 1, 3, 0, 1, 3, 3, 1, 2, 1, 3, 2, 3, 0, 2, 2, 4, 1, 0, 1, 5, 7, 0, 0, 3, 0, 2, 1, 1, 2, 3, 1, 2, 0, 1, 0, 4, 10, 4, 4, 6, 4, 6, 2, 3, 3, 5]

In [105]:
CTD_33_HB=[]
for i in peptides:
  CTD_33_HB.append(transition(GHB3, GHB3, i))
print(CTD_33_HB)
CTD_33_NV=[]
for i in peptides:
  CTD_33_NV.append(transition(GNV3, GNV3, i))
CTD_33_PO=[]
for i in peptides:
  CTD_33_PO.append(transition(GPO3, GPO3, i))
CTD_33_PZ=[]
for i in peptides:
  CTD_33_PZ.append(transition(GPZ3, GPZ3, i))
CTD_33_CH=[]
for i in peptides:
  CTD_33_CH.append(transition(GCH3, GCH3, i))
CTD_33_SS=[]
for i in peptides:
  CTD_33_SS.append(transition(GSS3, GSS3, i))
CTD_33_SA=[]
for i in peptides:
  CTD_33_SA.append(transition(GSA3, GSA3, i))

[5, 4, 3, 4, 5, 2, 4, 2, 3, 3, 5, 2, 8, 6, 3, 3, 3, 4, 2, 4, 3, 5, 4, 3, 2, 1, 1, 3, 4, 3, 3, 2, 4, 2, 4, 4, 4, 3, 5, 5, 4, 3, 5, 3, 2, 2, 5, 3, 3, 4, 4, 4, 1, 2, 4, 3, 5, 3, 4, 5, 1, 2, 1, 1, 4, 4, 3, 5, 2, 5, 3, 4, 3, 3, 1, 4, 2, 5, 5, 4, 2, 3, 3, 5, 4, 2, 3, 0, 3, 2, 1, 3, 4, 4, 3, 2, 6, 2, 4, 2, 2, 1, 3, 2, 4, 7, 2, 6, 3, 4, 3, 3, 5, 2, 3, 3, 6, 2, 5, 9, 3, 5, 2, 5, 8, 4, 3, 2, 3, 2, 5, 3, 4, 3, 2, 2, 2, 2, 3, 4, 5, 4, 1, 2, 2, 3, 3, 5, 4, 4, 3, 1, 3, 2, 1, 2, 5, 6, 5, 2, 3, 5, 4, 4, 5, 2, 2, 5, 4, 4, 4, 5, 3, 4, 5, 3, 4, 2, 3, 4, 4, 3, 3, 5, 3, 3, 3, 5, 2, 6, 5, 5, 5, 3, 3, 5, 4, 1, 4, 3, 2, 6, 4, 3, 1, 4, 0, 5, 3, 4, 5, 2, 3, 2, 3, 4, 3, 2, 3, 2, 5, 4, 3, 3, 2, 6, 5, 2, 4, 2, 2, 5, 3, 5, 3, 4, 2, 1, 2, 3, 4, 5, 4, 4, 3, 5, 5, 4, 1, 4, 3, 5, 3, 2, 2, 3, 3, 2, 3, 8, 4, 6, 4, 2, 3, 8, 4, 0, 4, 0, 4, 2, 0, 3, 3, 2, 6, 2, 4, 3, 5, 8, 6, 2, 3, 3, 3, 4, 2, 2, 2, 5, 4, 3, 4, 2, 2, 3, 5, 2, 2, 3, 6, 3, 3, 3, 2, 2, 2, 2, 2, 0, 2, 3, 3, 3, 3, 2, 3, 5, 5, 3, 3, 3, 4, 4, 3, 2, 2, 3, 1, 5, 5, 4, 5, 4, 1, 4, 2, 4, 3, 4, 4, 4, 1, 5, 4, 2, 3, 6, 1, 5, 5, 2, 2, 5, 2, 3, 1, 8, 3, 3, 6, 2, 2, 2, 3, 1, 1, 3, 3, 5, 6, 5, 3, 2, 5, 5, 1, 4, 4, 2, 4, 2, 1, 1, 3, 5, 2, 3, 2, 4, 1, 4, 3, 5, 4, 2, 3, 3, 2, 4, 4, 3, 3, 3, 4, 7, 0, 0, 2, 3, 3, 3, 2, 1, 2, 3, 5, 3, 4, 4, 4, 3, 1, 5, 5, 4, 3, 3, 3, 4, 4]

In [106]:
df_t1=pd.DataFrame()
df_t1['id']=id
df_t1['CTD_11_HB']=CTD_11_HB
df_t1['CTD_11_NV']=CTD_11_NV
df_t1['CTD_11_PO']=CTD_11_PO
df_t1['CTD_11_PZ']=CTD_11_PZ
df_t1['CTD_11_CH']=CTD_11_CH
df_t1['CTD_11_SS']=CTD_11_SS
df_t1['CTD_11_SA']=CTD_11_SA
df_t1['CTD_12_HB']=CTD_12_HB
df_t1['CTD_12_NV']=CTD_12_NV
df_t1['CTD_12_PO']=CTD_12_PO
df_t1['CTD_12_PZ']=CTD_12_PZ
df_t1['CTD_12_CH']=CTD_12_CH
df_t1['CTD_12_SS']=CTD_12_SS
df_t1['CTD_12_SA']=CTD_12_SA
df_t1['CTD_13_HB']=CTD_13_HB
df_t1['CTD_13_NV']=CTD_13_NV
df_t1['CTD_13_PO']=CTD_13_PO
df_t1['CTD_13_PZ']=CTD_13_PZ
df_t1['CTD_13_CH']=CTD_13_CH
df_t1['CTD_13_SS']=CTD_13_SS
df_t1['CTD_13_SA']=CTD_13_SA
df_t1['CTD_21_HB']=CTD_21_HB
df_t1['CTD_21_NV']=CTD_21_NV
df_t1['CTD_21_PO']=CTD_21_PO
df_t1['CTD_21_PZ']=CTD_21_PZ
df_t1['CTD_12_CH']=CTD_21_CH
df_t1['CTD_21_SS']=CTD_21_SS
df_t1['CTD_21_SA']=CTD_21_SA
df_t1['CTD_22_HB']=CTD_22_HB
df_t1['CTD_22_NV']=CTD_22_NV
df_t1['CTD_22_PO']=CTD_22_PO
df_t1['CTD_22_PZ']=CTD_22_PZ
df_t1['CTD_22_CH']=CTD_22_CH
df_t1['CTD_22_SS']=CTD_22_SS
df_t1['CTD_22_SA']=CTD_22_SA
df_t1['CTD_23_HB']=CTD_23_HB
df_t1['CTD_23_NV']=CTD_23_NV
df_t1['CTD_23_PO']=CTD_23_PO
df_t1['CTD_23_PZ']=CTD_23_PZ
df_t1['CTD_23_CH']=CTD_23_CH
df_t1['CTD_23_SS']=CTD_23_SS
df_t1['CTD_23_SA']=CTD_23_SA
df_t1['CTD_31_HB']=CTD_31_HB
df_t1['CTD_31_NV']=CTD_31_NV
df_t1['CTD_31_PO']=CTD_31_PO
df_t1['CTD_31_PZ']=CTD_31_PZ
df_t1['CTD_31_CH']=CTD_31_CH
df_t1['CTD_31_SS']=CTD_31_SS
df_t1['CTD_31_SA']=CTD_31_SA
df_t1['CTD_32_HB']=CTD_32_HB
df_t1['CTD_32_NV']=CTD_32_NV
df_t1['CTD_32_PO']=CTD_32_PO
df_t1['CTD_32_PZ']=CTD_32_PZ
df_t1['CTD_32_CH']=CTD_32_CH
df_t1['CTD_32_SS']=CTD_32_SS
df_t1['CTD_32_SA']=CTD_32_SA
df_t1['CTD_33_HB']=CTD_33_HB
df_t1['CTD_33_NV']=CTD_33_NV
df_t1['CTD_33_PO']=CTD_33_PO
df_t1['CTD_33_PZ']=CTD_33_PZ
df_t1['CTD_33_CH']=CTD_33_CH
df_t1['CTD_33_SS']=CTD_33_SS
df_t1['CTD_33_SA']=CTD_33_SA
df_t1['label']=1
df_t1

               id  CTD_11_HB  CTD_11_NV  ...  CTD_33_SS  CTD_33_SA  label
0      Positive_1          1          1  ...          1          0      1
1      Positive_2          1          1  ...          1          2      1
2      Positive_3          0          0  ...          0          0      1
3      Positive_4          4          0  ...          0          0      1
4      Positive_5          1          1  ...          3          0      1
..            ...        ...        ...  ...        ...        ...    ...
428  Positive_429          3          3  ...          2          1      1
429  Positive_430          2          1  ...          0          1      1
430  Positive_431          5          1  ...          1          1      1
431  Positive_432          2          6  ...          3          0      1
432  Positive_433          0          1  ...          0          1      1

[433 rows x 64 columns]

In [107]:
df_t1.to_csv('T_1.csv')

DISTRIBUTION

In [108]:
#hàm tính distribution
def distribution(p, CTD_):
  CTD_D=[]
  for i in CTD_:
    j=float('{:.4f}'.format(i*p))
    CTD_D.append(j)
  return CTD_D

In [109]:
header_d0 = []
header_d25=[]
header_d50=[]
header_d75=[]
header_d100=[]

bb=['HB1', 'HB2', 'HB3', 'NV1', 'NV2', 'NV3', 'PO1', 'PO2', 'PO3', 'PZ1', 'PZ2', 'PZ3', 'CH1', 'CH2', 'CH3', 'SS1', 'SS2', 'SS3', 'SA1', 'SA2', 'SA3']
for b in bb:
	header_d0.append('CTD_' + '0' + '_'+ b)
for b in bb:
	header_d25.append('CTD_' + '25' + '_'+ b)
for b in bb:
	header_d50.append('CTD_' + '50' + '_'+ b)
for b in bb:
	header_d75.append('CTD_' + '75' + '_'+ b)
for b in bb:
	header_d100.append('CTD_' + '100' + '_'+ b)
print(header_d0)

['CTD_0_HB1', 'CTD_0_HB2', 'CTD_0_HB3', 'CTD_0_NV1', 'CTD_0_NV2', 'CTD_0_NV3', 'CTD_0_PO1', 'CTD_0_PO2', 'CTD_0_PO3', 'CTD_0_PZ1', 'CTD_0_PZ2', 'CTD_0_PZ3', 'CTD_0_CH1', 'CTD_0_CH2', 'CTD_0_CH3', 'CTD_0_SS1', 'CTD_0_SS2', 'CTD_0_SS3', 'CTD_0_SA1', 'CTD_0_SA2', 'CTD_0_SA3']

In [110]:
#tính số aminoaxit của mỗi nhóm có trong peptit
def composition(group, peptide):
  my_seq=Seq(peptide)
  sum=0
  for i in group:
    sum=sum+my_seq.count(i)
  s=sum
  return s
aa = ['1', '2', '3']
bb = ['HB', 'NV', 'PO', 'PZ', 'CH', 'SS', 'SA']
group=[GHB1, GNV1, GPO1, GPZ1, GCH1, GSS1,  GSA1, GHB2, GNV2, GPO2, GPZ2, GCH2, GSS2,  GSA2, GHB3, GNV3, GPO3, GPZ3, GCH3, GSS3,  GSA3]
header_c = []
for a in aa:
  for b in bb:
    header_c.append('CTD_'+ b + a)
#print(header_c)
df_c1 = pd.DataFrame()
df_c1['id'] = id
header_c1=header_c
for i in range(len(group)):
  for j in header_c:
    j=[]
    for k in peptides:
      j.append(composition(group[i], k))
    df_c1[header_c1[i]]=j
df_c1

               id  CTD_HB1  CTD_NV1  ...  CTD_CH3  CTD_SS3  CTD_SA3
0      Positive_1        3        7  ...        0        7        1
1      Positive_2        7        7  ...        0        4        8
2      Positive_3        3        0  ...        0        0        0
3      Positive_4        8        0  ...        0        0        0
4      Positive_5        4       11  ...        1       10        8
..            ...      ...      ...  ...      ...      ...      ...
428  Positive_429       10       10  ...        1        8        4
429  Positive_430        7        4  ...        0        3        4
430  Positive_431       10        4  ...        0        4        4
431  Positive_432       10       14  ...        1       11        5
432  Positive_433        3        5  ...        0        2        6

[433 rows x 22 columns]

In [111]:
CTD_HB1=df_c1['CTD_HB1']
CTD_HB2=df_c1['CTD_HB2']
CTD_HB3=df_c1['CTD_HB3']
CTD_NV1=df_c1['CTD_NV1']
CTD_NV2=df_c1['CTD_NV2']
CTD_NV3=df_c1['CTD_NV3']
CTD_PO1=df_c1['CTD_PO1']
CTD_PO2=df_c1['CTD_PO2']
CTD_PO3=df_c1['CTD_PO3']
CTD_PZ1=df_c1['CTD_PZ1']
CTD_PZ2=df_c1['CTD_PZ2']
CTD_PZ3=df_c1['CTD_PZ3']
CTD_CH1=df_c1['CTD_CH1']
CTD_CH2=df_c1['CTD_CH2']
CTD_CH3=df_c1['CTD_CH3']
CTD_SS1=df_c1['CTD_SS1']
CTD_SS2=df_c1['CTD_SS2']
CTD_SS3=df_c1['CTD_SS3']
CTD_SA1=df_c1['CTD_SA1']
CTD_SA2=df_c1['CTD_SA2']
CTD_SA3=df_c1['CTD_SA3']
header_c =[CTD_HB1, CTD_HB2, CTD_HB3, CTD_NV1, CTD_NV2, CTD_NV3, CTD_PO1, CTD_PO2, CTD_PO3, CTD_PZ1, CTD_PZ2, CTD_PZ3, CTD_CH1, CTD_CH2, CTD_CH3, CTD_SS1, CTD_SS2, CTD_SS3, CTD_SA1, CTD_SA2, CTD_SA3]

In [112]:
df_d1=pd.DataFrame()
df_d1['id']=id

for i in range(len(header_c)):
  k=[]
  k=(distribution(0, header_c[i]))
  df_d1[header_d0[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.25, header_c[i]))
  df_d1[header_d25[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.5, header_c[i]))
  df_d1[header_d50[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(0.75, header_c[i]))
  df_d1[header_d75[i]]=k 
for i in range(len(header_c)):
  k=[]
  k=(distribution(1, header_c[i]))
  df_d1[header_d100[i]]=k    
df_d1['label']=11
df_d1

               id  CTD_0_HB1  CTD_0_HB2  ...  CTD_100_SA2  CTD_100_SA3  label
0      Positive_1        0.0        0.0  ...          3.0          1.0     11
1      Positive_2        0.0        0.0  ...          7.0          8.0     11
2      Positive_3        0.0        0.0  ...          3.0          0.0     11
3      Positive_4        0.0        0.0  ...          8.0          0.0     11
4      Positive_5        0.0        0.0  ...          4.0          8.0     11
..            ...        ...        ...  ...          ...          ...    ...
428  Positive_429        0.0        0.0  ...         10.0          4.0     11
429  Positive_430        0.0        0.0  ...          7.0          4.0     11
430  Positive_431        0.0        0.0  ...         10.0          4.0     11
431  Positive_432        0.0        0.0  ...         10.0          5.0     11
432  Positive_433        0.0        0.0  ...          3.0          6.0     11

[433 rows x 107 columns]

In [113]:
df_d1.to_csv('D_1.csv')

In [114]:
#ghep 3 thuoc tinh vao thanh 1
c_1=pd.read_csv('C_1.csv')
c_1=c_1.drop(columns=['Unnamed: 0', 'label'])
t_1=pd.read_csv('T_1.csv')
t_1=t_1.drop(columns=['Unnamed: 0', 'label'])
d_1=pd.read_csv('D_1.csv')
d_1=d_1.drop(columns=['Unnamed: 0', 'label'])
df_1=pd.merge(c_1, t_1, on='id')
df_1=pd.merge(df_1, d_1, on='id')
df_1['label']=1
df_1

               id  CTD_HB1  CTD_NV1  ...  CTD_100_SA2  CTD_100_SA3  label
0      Positive_1   0.1429   0.3333  ...          3.0          1.0      1
1      Positive_2   0.2692   0.2692  ...          7.0          8.0      1
2      Positive_3   0.3333   0.0000  ...          3.0          0.0      1
3      Positive_4   0.5000   0.0000  ...          8.0          0.0      1
4      Positive_5   0.1333   0.3667  ...          4.0          8.0      1
..            ...      ...      ...  ...          ...          ...    ...
428  Positive_429   0.3125   0.3125  ...         10.0          4.0      1
429  Positive_430   0.3500   0.2000  ...          7.0          4.0      1
430  Positive_431   0.3846   0.1538  ...         10.0          4.0      1
431  Positive_432   0.2703   0.3784  ...         10.0          5.0      1
432  Positive_433   0.1364   0.2273  ...          3.0          6.0      1

[433 rows x 190 columns]

In [115]:
df_1.to_csv('CTD_1.csv')